
<div class="col-md-4 white-background" >
  <div style="padding-top:15px;"><%= render "devise/shared/links" %></div>
    <hr>
  <h3 class="centerize">Why should you Join us?</h3>
    <hr class="black-hr" style="padding-bottom:8%">
  <p style="font-weight:300; font-size:1em;">Simply put, you will be supporting the highest quality brands & be the first to know about product launches. <br><br>We probably will give away product a lot too...</p>
  <br>
  <p><i>We won't crowd your inbox, nobody likes that friend...</i></p>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-group'}) do |f| %>

          <%= f.error_notification %>

      <br>
      <div class="forms" >
        <%= f.input :email, placeholder: 'EMAIL',label:false, error_html: { id: 'forms-error'} %>
        <br>
        <%= f.input :password, placeholder: 'PASSWORD',label:false, error_html: { id: 'forms-error'}%>
        <br>
        <%= f.input :password_confirmation, placeholder:'PASSWORD (AGAIN?)', label:false, error_html: { id: 'forms-error'}%>
      </div>

      <p style="font-size:.75em;padding-top:5px;padding-bottom:5px;">We will never share or distribute your email address. Promise.</p>


        <div class="form-actions">
          <h5><%= f.submit "JOIN US", class: "btn btn-success btn-lg centerize"%></h5>
        </div>
        <% end %>
      </div>
    </div>

</div>



