<div class="col-md-4 white-background" style="padding:2%">
	<h6><%= link_to 'BACK', :back, class:'line-btn'%></h6>
	<div class="forms">
		<br>
  		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    	<%= devise_error_messages! %>

    	<div><%= f.email_field :email, placeholder:'Enter Email Here',:autofocus => true %></div>
    	<br>
    	<div class="centerize" style="width:75px"><%= f.submit "SUBMIT" %></div>
	</div>
  <% end %>
</div>
