<div class="col-md-5">
  <div class="row">
    <div class="col-md-12">
      <% @products.each do |product| %>
        <div class="p-hover mid-pic-frame hidden" id="crap" data-product-id="<%= product.id %>">
          <div id="p-hover-details">
            
            <h3 style="margin-top:10px;margin-bottom:1px;"><%= product.name %></h3>
            <hr style="margin:0px;opacity:.6">
            <h6 style="margin-top:5px"><%= product.brand.name %></h6>
            <h5 style="font-size:.75em;letter-spacing:1px;margin-top:-10px"><%= product.brand.location%></h5>
          </div>
          <div id="p-hover-pic"><%= image_tag(product.primary_image, class: "img-responsive") %></div>
          
          <div id="p-hover-status" >
            <h6 class="centerize"><span class="glyphicon glyphicon-signal"></span>
            90% Funded&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time"></span> 4 Weeks left</h6>
          </div>
        </div>
      <% end %>
      <div id="motto">
        <hr>
          <h3 style="font-size:2.5em;">
          TOP TIER BRANDS<br>
          FAN-BACKED DEVELOPENT<br>
          JOIN THE COMPANY
          </h3>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="col-md-5 product-grid">
  <div class="row">
    <div class="col-md-12">
        <div class="centerize links" id="home-links">
          <h6 id="product-sort">PROJECTS</h6><span style="opacity:.2">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span><h6 id="brand-sort">BRANDS</h6>
        </div>
      </div>
  </div>
  <div class="row">
    <div id="home-products">
      <%= render :partial=>'products/product', id: 'indiv-home-prod', :collection => @products, :locals => {:size => 'col-md-6 col-xs-6'}  %>
    </div>
    <div id="home-brands" style="display:none;">
      <h6 class="centerize" style="color:white;pointer-events:none;font-size:.7em !important;padding-bottom:5px;margin-top:-5px;">A-Z</h6>
      <hr class="centerize" style="color:white;width:40px;margin-top:-5px;margin-bottom:15px;border-color:rgba(255,255,255,.4)">
      <%= render :partial=>'brands/brand', id: 'indiv-home-brand', :collection => @brands, :locals => {:size => 'col-md-4 col-xs-6'}  %>
    </div>
  </div>
</div>
