<!DOCTYPE html>
<html style="
background: url(http://31.media.tumblr.com/53609fcca35a388abb47f5eead2e7633/tumblr_mqohdxnbNk1qzdab7o3_1280.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
">

      
  <head>
    <title>Farallon Co.</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

      <!-- Favicon -->
      <link rel="shortcut icon" href="https://s3.amazonaws.com/beelineco/FarallonCo-ShortForm.jpg">

      <!-- FONTS http://html.adobe.com/edge/webfonts/-->
      <script src="http://use.edgefonts.net/maven-pro:n4,n5,n7,n9.js"></script>
      <script src="http://use.edgefonts.net/share-regular:n4,i4,n7,i7.js"></script>
      <script src="http://use.edgefonts.net/m-1c:n2,n3,n4,n5,n7,n8,n9.js"></script>
      <script src="//use.edgefonts.net/damion.js"></script>
  </head>
  
  <body>
    <div class="row" style="padding-bottom:5%;">
      <div class="col-md-12">
        <button type="button" class="contact">
          <a href="mailto:support@farallon.co"><span class="glyphicon glyphicon-send"></span>&nbsp;Contact</a>
        </button>
        <h5 style="position:absolute;top:0;right:20px;font-size:.65em;padding-bottom:10px;padding-left:2px;opacity:.6"><a style="color:#505050;"href="http://jayzombie.com/places" target="blank">Background by jayzombie</a></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-10">
        <%= image_tag("FarallonCo-Grey.png", class: "img-responsive centerize", id: "biglogo") %>
        <h5 class="centerize" id="launch-header">LAUNCHING SOON</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- id="join-bar" -->
        <a data-toggle="modal" href="#landing-joinus-modal">
          <div class="big-green-button centerize" id="join-bar">
            <!-- <hr style="margin:-1px;opacity:.2;"> -->
            <h5 id="join-text">JOIN US</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="row" id="feature-box">
      <div class="col-md-4" style="padding-top:1%">
        <hr style="width:60%;margin-bottom:5px;">
        <h5 class="centerize" id="feature-header">DISCOVER TOP BRANDS & PRODUCTS</h5>
        <hr style="width:50%;margin-top:5px;">
        <%#= image_tag "landing-1.png", class: "img-responsive centerize", style: "margin-left:10%", width: "90%" %>
      </div>
      <div class="col-md-4" style="padding-top:1%">
        <hr style="width:55%;margin-bottom:5px;">
        <h5 class="centerize" id="feature-header">BACK NEW PRODUCT IDEAS</h5>
        <hr style="width:45%;margin-top:5px;">
        <%#= image_tag "landing-2.png", class: "img-responsive centerize", width: "45%" %>
      </div>
      <div class="col-md-4" style="padding-top:1%">
        <hr style="width:60%;margin-bottom:5px;">
        <h5 class="centerize" id="feature-header">JOIN OUR COMMUNITY OF MAKERS</h5>
        <hr style="width:50%;margin-top:5px;margin-bottom:5px;">
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="centerize" style="padding-top:10%;padding-bottom:50px;">
          <span class="creds"> Proudly&nbsp;&nbsp;<%= image_tag "CA.png", style: "width:50px;"%>&nbsp;made</span> 
        </div>
      </div>
    </div>
    <%= render "devise/registrations/modals/new" %>
  </body> 


</html>