<br>
<br>
<br>
<h2 class="h-font">Sign in</h2>
<%= render "devise/shared/links" %>
<hr>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
<%= f.error_notification %>

<%= f.input :email %>
<%= f.input :password %>
<%= f.input :remember_me, as: :boolean%>

  <div class="form-actions">
  	<%= f.submit "Sign in", class: "big-green-button", style: "width:150px; padding:10px;" %>
  </div>

<% end %>


