<%= form_for(@brand, url: brands_path , html: { multipart: true, class: "form-horizontal" }) do |f| %>
<div class="col-md-10 white-background" style="padding-bottom:20%">
  <div class="row">
    <div class="col-md-6">
      <%#= brand.error_notification %>

      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>

      <%= f.label :location, "Location:" %>
      <%= f.text_field :location %>

      <%= f.label :profile, "Brand Profile:" %>
      <%= f.text_area :profile, input_html: { rows: "10",  class: 'textbox wysihtml5' } %>
    </div>
    <div class="col-md-6">
      <%= f.fields_for :image do |image_field| %>
        <%= image_field.file_field :image %>
      <% end %>
      <div class="form-actions" style="padding:10px;">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-8">
      <%= f.label :active, "Active?" %>
      <%= f.check_box :active %>
      <h6>Brand Profile:</h6>
      <%= f.text_area :profile, as: :text, input_html: { rows: "10",  class: 'wysihtml5 textbox' }, label: false%>
    </div>
  </div>
</div>
<% end %>


<!-- wysihtml5 -->
<script type="text/javascript">
  $(function() {
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
</script>