<%= simple_form_for(@brand, html: { class: "form-horizontal" }) do |brand| %>
<div class="col-md-10 white-background" style="padding-bottom:20%">
  <div class="row">
    <div class="col-md-6 forms">
      <%= brand.error_notification %>

      <%= brand.input :name, label: "Name:" %>
      <%= brand.input :location, label: "Location:" %>
      <%= brand.input :profile, as: :text, input_html: { rows: "10",  class: 'wysihtml5 textbox' }, label: "Brand Profile:"%>
    </div>
    <div class="col-md-6">
      <%= brand.file_field :image %>

      <div class="form-actions" style="padding:10px">
        <%= brand.button :submit, class: "btn btn-primary" %>
      </div>
      
    </div>
  </div>
</div>
<% end %>


<!-- wysihtml5 -->
<script type="text/javascript">
$(function() {
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
})
</script>