<%= form_for(@brand, url: brands_path , html: { :multipart => true, class: "form-horizontal" }) do |brand| %>
<div class="col-md-10 white-background" style="padding-bottom:20%">
  <div class="row">
    <div class="col-md-6">
      <%#= brand.error_notification %>

      <%= brand.label :name, "Name:" %>
      <%= brand.text_field :name %>

      <%= brand.label :location, "Location:" %>
      <%= brand.text_field :location %>

      <%= brand.label :profile, "Brand Profile:" %>
      <%= brand.text_area :profile, input_html: { rows: "10",  class: 'textbox' } %>

<<<<<<< HEAD
      <%= brand.input :name, label: "Name:" %>
      <%= brand.input :location, label: "Location:" %>
      <%= brand.input :profile, as: :text, input_html: { rows: "10",  class: 'wysihtml5 textbox' }, label: "Brand Profile:"%>
=======
>>>>>>> Main polymorphic changes
    </div>
    <div class="col-md-6">
      <%= fields_for @image do |image_field| %>
        <%= image_field.file_field :images %>
      <% end %>

      <div class="form-actions" style="padding:10px;">
        <%= brand.submit class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>
<% end %>


<!-- wysihtml5 -->
<script type="text/javascript">
$(function() {
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
})
</script>
