<div class="col-md-offset-1 col-md-8 white-background" style="padding-bottom:20%;">
<h1>Brand List</h1>
  <ul class="list-inline" >
    <% @brands.each do |brand| %>
    <li>
      <div>
        <h6 style="display: inline"><%= link_to brand.name, brand %></h6>
        <span style="font-size:.55em;"><%= link_to "[EDIT]", edit_brand_path(brand)%></span>
        <span style="font-size:.55em;"><%= link_to "[X]", brand, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
      <ul class="list-inline">
      	<% brand.products.each do |product| %>
      		<!-- <li><%#= link_to product.name, edit_brand_product_path(brand, product)%></li> -->
          <li><%= link_to image_tag(product.images.first.image(:small), size: "50x50"), edit_brand_product_path(brand, product)%></li>
      		<!-- <li>/</li> -->
      	<% end %>
      	<li><div style="border:1px solid rgba(0,0,0,.1);font-size:1.75em;font-weight:400;height:35px;width:35px;opacity:.8;text-align:center;"><%= link_to "+", new_brand_product_path(brand)%></div></li>
      </ul>
      <br>
    </li>
    <li>
    </li>
    <% end %>
  </ul>
</div>
