<div class="col-md-offset-1 col-md-7 white-background">
<h1>Brand List</h1>
 <h5 style="font-size:.9em;">Total: <%= Brand.count%></h5>
<hr style="border-color: rgba(0,0,0,.3);margin-top:2px">
  <ul class="list-unstyled">
    <% @brands.each do |brand| %>
    <li>
        
        <ul class="list-inline">
          <li>
            <% if brand.active == true %>
              <span class="glyphicon glyphicon-ok" style="color:#389e39"></span>
            <% else %>
              <span class="glyphicon glyphicon-remove" style="color:#A32638"></span>
            <% end %>
            <h6 style="display: inline;font-size:.7em !important;"><%= link_to brand.name, edit_brand_path(brand) %></h6>
          </li>
        
      
      	<% brand.products.each do |product| %>
          <% if product.primary_image.url %>
            <li><%= link_to image_tag(product.primary_image, size: "30x30"), edit_brand_product_path(brand, product)%></li>
          <% else %>
            <li style="font-size:.75em;"><%= link_to product.name, edit_brand_product_path(brand, product) %></li>
            <li>|</li>
          <% end %>
      	<% end %>
      	<li><div id="add-product"><%= link_to "+", new_brand_product_path(brand)%></div></li>
      </ul>
      <br>
    </li>
    <li>
    </li>
    <hr style="margin:-10px;border-color:#505050;opacity:.2;">
    <br>
    <% end %>
  </ul>
  <%= paginate @brands %>
</div>
