<div class="col-md-6" id="b-midpane">

  <div class="row">
    <div class="col-md-12">
        <h5 id="social-title" class="centerize" >SPREAD THE GOOD WORD</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 centerize">
      <!-- FACEBOOK -->
        <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=<%=request.original_url%>&amp;p[title]=<%= @brand.name %>+on+Farallon+Co.&amp;p[images][0]=https://s3.amazonaws.com/beelineco/FarallonCo-ShortForm.jpg&amp;p[summary]=Farallon+Co+-+Top+Tier+Brands,+Fan+Backed+Product,+Join+the+Company." target="blank"><%= image_tag("facebook.png", class: "social-show", width: "20") %>
        </a>

        <!--   <a href="http://www.facebook.com/sharer/sharer.php?u=<%#=request.original_url%>&[title]=<%#= @brand.name %> on Farallon Co." target="blank"><%#= image_tag("facebook.png", class: "social-show", width: "20") %></a> -->

      <!-- TWITTER -->
        <a href="http://twitter.com/home?status=Check+out+<%= @brand.name %>+on+@farallonco+(<%=request.original_url.html_safe%>)" target="blank" ><%= image_tag("twitter.png", class: "social-show", width: "20") %>
        </a>

      <!-- GOOGLE PLUS -->
        <a href="https://plus.google.com/share?url=<%=request.original_url.html_safe%>" target="blank"><%= image_tag("googleplus.png", class: "social-show", width: "20") %></a>

      <!-- PINTEREST -->
        <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%#@product.pic1%>&url=<%=request.original_url%>&is_video=false&description=<%=@brand.name%> on Farallon Co." target="blank" ><%= image_tag("pinterest.png", class: "social-show", width: "20") %></a>

      <!-- STUMBLEUPON -->
        <a href="http://www.stumbleupon.com/submit?url=<%=request.original_url%>&title=<%=@brand.name%> on Farallon Co.+<%=request.original_url%>" target="blank"><%= image_tag("stumbleupon.png", class: "social-show", width: "20") %>
          </a>
    </div>
    <hr class="black-hr">
    <% if current_user.try(:admin?) %>
    <div class="centerize" style="padding:5px">
      <span style="font-size:.65em;"><%= link_to "X", @brand, class: 'x-btn', method: :delete, data: { confirm: 'Are you sure?' } %></span>&nbsp;/
      <span><%= link_to "EDIT", edit_brand_path%></span>&nbsp;/
      <span style="padding:0px 10px 5px 10px;font-size:2em;border:1px solid rgba(0,0,0,.1)"><%= link_to "+", new_brand_product_path(@brand)%></span>
    </div>
      <hr class="black-hr">
    <%end%>
  </div>
  

  <!-- PROFILE -->
  <div class="row">
    <div class="col-md-12">
      <h6 style="margin-bottom:-15px">MEET THE MAKER:</h6>
      <h3><%=@brand.name.html_safe%></h3>
      <h5 class="location" style="font-size:.85em" ><%=@brand.location.html_safe%></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag(@brand.secondary_images.first.image, id: "brand-image") %>
    </div>
  </div>
  <div class="row" style="padding-bottom:20px;">
    <div class="col-md-12">
      <p><%=@brand.profile.html_safe%></p>
      <hr class="black-hr">
        <div class="centerize">
        <span style="font-family:m-1c, serif;font-weight: 300;font-size: 1em !important;letter-spacing: 2px;text-transform: uppercase;display:inline;">PLACES TO VISIT:</span>
          <!-- HOME -->
          <% if @brand.home_page != "" %>
            <a href="http://www.<%= @brand.home_page %>" target="blank"><%= image_tag("home-square.png", class: "brandsocial") %></a>
          <% end %>
          <!-- FACEBOOK -->
          <% if @brand.facebook != "" %>
            <a href="http://facebook.com/<%= @brand.facebook %>" target="blank"><%= image_tag("facebook_square_black.png", class: "brandsocial") %></a>
          <% end %>
          <!-- TWITTER -->
          <% if @brand.twitter != "" %>
            <a href="http://twitter.com/<%= @brand.twitter %>" target="blank"><%= image_tag("twitter_square_black.png", class: "brandsocial") %></a>
          <% end %>
          <!-- INSTAGRAM -->
          <% if @brand.instagram != "" %>
            <a href="http://instagram.com/<%= @brand.instagram %>" target="blank"><%= image_tag("instagram_square_black.png", class: "brandsocial") %></a>
          <% end %>
          <!-- TUMBLR -->
          <% if @brand.tumblr != "" %>
            <a href="http://<%= @brand.tumblr %>.tumblr.com/" target="blank"><%= image_tag("tumblr_square_black.png", class: "brandsocial") %></a>
          <% end %>
      </div>
    </div>
  </div>
</div>


<div class="col-md-3 product-grid" style="left:20px;"p>
  <div class="row">
    <div class="col-md-12">
      <a href="/home" class="links centerize"><h6>BACK TO HOME</h6></a>
      <h3 style="padding-bottom:5px; color:white; pointer-events:none;"class="centerize" >CURRENT CAMPAIGNS</h3>
      <hr class="centerize" style="padding-bottom:10px; width:70%">
    </div>
  </div>
  <div class="row">
    <!-- NEED TO FILTER BY EXISTINGLINE = FALSE & ACTIVE = TRUE -->
    <% if @brand.products.count == 0 %> 
      <a style="color:white" class="centerize" data-toggle="modal" href="#submit-modal"><p style="margin-top:20px"> Nothing active? Suggest an idea.</p></a>
    <% else %>
      <% @brand.products.each do |product| %>
        <div class="col-md-12 col-xs-6">
          <%= link_to image_tag(product.primary_image), product_path(product), class: "thumbnail" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="#existing-modal-brand" style="cursor:help;" data-toggle="modal"><h6 style="padding-bottom:5px; margin-top:40px; color:white; "class="centerize" >BREAD & BUTTER</h6></a>
      <hr class="centerize" style="padding-bottom:10px; width:50%">
    </div>
  </div>
  <div class="row">
    <!-- NEED TO FILTER BY EXISTINGLINE = TRUE & ACTIVE = TRUE -->
    <% @brand.products.each do |product| %>
      <div class="col-md-6 col-xs-6">
        <%= link_to image_tag(product.primary_image), product_path(product), class: "thumbnail" %>
      </div>
    <% end %>
  </div>
</div>

<!-- B&B Modal -->
          <div class="modal fade" id="existing-modal-brand" tabindex="-1" role="dialog" aria-labelledby="Submit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" style="font-size:3em;margin-top:-10px;" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3 class="modal-title">About the 'Bread & Butter Series'</h3>
                </div>
                <div class="modal-body" >

                  <p style="text-align:center;">This set of products is part of our 'Bread & Butter' series, which highlights the products that made this brand what it is today or simply new products we think you should be aware of. <br><br>Keep in mind that these are not campaigns. We merely are striving to become your one-stop-shop for product discovery.<br><br><i>Enjoy.</i></p>
                  <br>
                </div>
              </div>
            </div>
          </div>
