<div class="col-md-6" id="b-midpane">
  <div class="row">
    <div class="col-md-12 centerize">
      <a href="/home" class="backhome-btn" style="z-index:100;"><div class="glyphicon glyphicon-home" ></div></a>
      <h5 id="social-title" style="margin-top:0px;letter-spacing:2px;font-size:.65em" class="centerize" >SPREAD THE WORD</h5>
          <div class="centerize">
            <!-- TWITTER -->
          <a href="http://twitter.com/home?status=Check+out+<%= @brand.name %>+on+@farallonco+(<%=request.original_url.html_safe%>)" target="blank" ><%= image_tag("twitter.png", id:"fb-social", class: "social-show", width: "25") %>
          </a>
          <!-- FACEBOOK -->
          <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%=request.original_url%>&p[images][0]=<%= @brand.logo.url %>&p[title]=<%= @brand.name %>+on+Farallon+Co.&p[summary]=Farallon+Co.+-+Top+Tier+Brands,+Fan-Backed+Product,+Join+the+Company." target="blank"><%= image_tag("facebook.png", class: "social-show", width: "20") %></a>
          <!-- TUMBLR -->
          <a href="http://www.tumblr.com/share/photo?source=<%=u @brand.logo.url %>&caption=<%=u @brand.name %>+on+Farallon+Co.&clickthru=<%=u request.original_url %>" target="blank" ><%= image_tag("tumblr.png", class: "social-show", width: "20") %>
          </a>
    </div>
    <hr class="black-hr" style="width:40%">
    <% if current_user.try(:admin?) %>
    <div class="centerize" style="padding:5px">
      <span style="font-size:.65em;"><%= link_to "X", @brand, class: 'x-btn', method: :delete, data: { confirm: 'Are you sure?' } %></span>&nbsp;/
      <span><%= link_to "EDIT", edit_brand_path%></span>&nbsp;/
      <span style="padding:0px 10px 5px 10px;font-size:2em;border:1px solid rgba(0,0,0,.1)"><%= link_to "+", new_brand_product_path(@brand)%></span>
    </div>
      <hr class="black-hr">
    <%end%>
  </div>
</div>
  

  <!-- PROFILE -->
  <div class="row">
    <div class="col-md-12">
      <%= image_tag(@brand.logo, id: "brand-logo-preview") %>
      <h6 style="margin-bottom:-15px">MEET THE MAKER:</h6>
      <h3><%=@brand.name.html_safe%></h3>
      <h5 class="location" style="font-size:.85em;letter-spacing:1px;" ><%=@brand.location.html_safe%></h5>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @brand.vid_vimeo.blank? && @brand.vid_youtube.blank? %>
        <%= image_tag(@brand.profile_image.image, id: "brand-image") %>
      <% else %>
        <% if @brand.vid_youtube.blank? %>
          <iframe class="centerize" style="padding-bottom:10px;" src="//player.vimeo.com/video/<%= @brand.vid_vimeo.html_safe %>?title=0&amp;byline=0&amp;portrait=0" width="100%" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        <% else %>
          <iframe class="centerize" style="padding-bottom:10px;" width="100%" height="350" src="//www.youtube.com/embed/<%= @brand.vid_youtube.html_safe %>?rel=0" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row" >
    <div class="col-md-12">
      <p><%=@brand.profile.html_safe%></p>
      <hr class="black-hr">
        <div class="centerize">
            <span id="social-places">PLACES TO VISIT:</span>
            <!-- HOME -->
            <% if @brand.home_page != "" %>
              <a href="http://www.<%= @brand.home_page %>" target="blank"><%= image_tag("home-square.png", class: "brandsocial") %></a>
            <% end %>
            <!-- FACEBOOK -->
            <% if @brand.facebook != "" %>
              <a href="http://facebook.com/<%= @brand.facebook %>" target="blank"><%= image_tag("facebook_square_black.png", class: "brandsocial") %></a>
            <% end %>
            <!-- TWITTER -->
            <% if @brand.twitter != "" %>
              <a href="http://twitter.com/<%= @brand.twitter %>" target="blank"><%= image_tag("twitter_square_black.png", class: "brandsocial") %></a>
            <% end %>
            <!-- INSTAGRAM -->
            <% if @brand.instagram != "" %>
              <a href="http://instagram.com/<%= @brand.instagram %>" target="blank"><%= image_tag("instagram_square_black.png", class: "brandsocial") %></a>
            <% end %>
            <!-- TUMBLR -->
            <% if @brand.tumblr != "" %>
              <a href="http://<%= @brand.tumblr %>.tumblr.com/" target="blank"><%= image_tag("tumblr_square_black.png", class: "brandsocial") %></a>
            <% end %>
      </div>
    </div>
  </div>
</div>


<div class="col-md-3 product-grid" style="border-top-left-radius:0px">
  <div class="row">
    <div class="col-md-12">
      <a href="/home" class="links centerize"><h6>BACK TO HOME</h6></a>
      <h5 style="padding-bottom:2px; color:white; pointer-events:none; letter-spacing:1px; font-size:1.1em;"class="centerize" >CURRENT CAMPAIGNS</h5>
      <hr class="centerize" style="padding-bottom:10px; width:70%">
    </div>
  </div>
  <div class="row">

    <% if @brand.products.where(:active => true, :existingline => false).count == 0 %> 
      <a style="color:white" class="centerize" data-toggle="modal" href="#submit-modal"><p style="margin-top:20px"> Nothing here? Suggest an idea.</p></a>
    <% else %>
      <% @brand.products.select { |p| p.active && !p.existingline }.each do |product| %>
        <div class="col-md-6 col-xs-6">
          <%= link_to image_tag(product.primary_image), product_path(product), class: "thumbnail" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="#existing-modal-brand" style="cursor:help;" data-toggle="modal"><h5 style="padding-bottom:2px; margin-top:40px; color:white; letter-spacing:1px; font-size:1.1em;"class="centerize" >BREAD & BUTTER</h5></a>
      <hr class="centerize" style="padding-bottom:10px; width:60%">
    </div>
  </div>
  <div class="row">
    <% @brand.products.select { |p| p.active && p.existingline }.each do |product| %>
      <div class="col-md-6 col-xs-6">
        <%= link_to image_tag(product.primary_image), product_path(product), class: "thumbnail" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5 style="padding-bottom:2px; margin-top:40px; color:white; letter-spacing:1px; font-size:1.1em;pointer-events:none;"class="centerize" >More Brands</h5>
      <hr class="centerize" style="padding-bottom:10px; width:60%">
    </div>
  </div>
  <div class="row">
    <%= render :partial=>'brands/brand', :collection => @brands, :locals => {:size => 'col-md-6 col-xs-6'}  %>
  </div>
</div>

<!-- B&B Modal -->
          <div class="modal fade" id="existing-modal-brand" tabindex="-1" role="dialog" aria-labelledby="Submit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" style="font-size:3em;margin-top:-10px;" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3 class="modal-title">About the 'Bread & Butter Series'</h3>
                </div>
                <div class="modal-body" >

                  <p style="text-align:center;">This set of products is part of our 'Bread & Butter' series, which highlights the products that made this brand what it is today or simply new products we think you should be aware of. <br><br>Keep in mind that these are not campaigns. We merely are striving to become your one-stop-shop for product discovery.<br><br><i>Enjoy.</i></p>
                  <br>
                </div>
              </div>
            </div>
          </div>
