		<div id="b-midpane" class="col-md-5">
<!-- SOCIAL HEADER-->
			<div class="row">
				<div class="col-md-12">   
      				<h5 id="social-title" class="centerize" >SPREAD THE GOOD WORD</h5>
					</div>
				</div>

			<div class="row">
				<%#= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %>
  				<div class="col-md-12 centerize">
  					      <!-- FACEBOOK -->
                        <a href ="#" target="blank">
                          <%= image_tag("facebook.png", class: "social-show", width: "20") %>
                        </a>
                      
                      <!-- TWITTER -->
                        <a href="#" target="blank">
                          <%= image_tag("twitter.png", class: "social-show", width: "20") %>
                        </a>

                      <!-- GOOGLE PLUS -->
                      <a href="#" target="blank">
                        <%= image_tag("googleplus.png", class: "social-show", width: "20") %>
                      </a>
                     
                      <!-- PINTEREST -->
                      <a href="#" target="blank">
                        <%= image_tag("pinterest.png", class: "social-show", width: "20") %>
                      </a>
                       
                      <!-- STUMBLEUPON -->
                      <a href="#" target="blank">
                        <%= image_tag("stumbleupon.png", class: "social-show", width: "20") %>
                      </a>


  					
               		<!-- FACEBOOK -->

					<a href="http://www.facebook.com/sharer/sharer.php?&p[title]=<%= @brand.name %>+on+Farallon+Co.&p[url]=<%=request.original_url%>&p[summary]=Farallon+Co+-+Top+Tier+Brands,+Fan+Backed+Product,+Join+the+Company." target="blank"><%= image_tag("facebook.png", class: "social-show", width: "20") %></a>


                    <a href="http://www.facebook.com/sharer/sharer.php?u=<%=request.original_url%>&[title]=<%= @brand.name %> on Farallon Co." target="blank"><%= image_tag("facebook.png", class: "social-show", width: "20") %></a>

                    <!-- &title=<% @brand.name %> on Farallon Co."  -->
                  
                  <!-- TWITTER -->
                   <!--  <a href="http://twitter.com/home?status=<%#@product.productname%> from <%#@product.brandname%> hosted by @thebeeline_co+<%#request.url%>" target="blank" ><img class="social-show" src="img/twitter.png" width="20"></a> -->

                  <!-- GOOGLE PLUS -->
                 <!--  <a href="https://plus.google.com/share?url=<%#request.url%>" target="blank"><img class="social-show"src="img/googleplus.png" width="20"></a> -->
                 
                  <!-- PINTEREST -->
                  
                   <!--  <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%#@product.pic1%>&url=<%#request.url%>&is_video=false&description=<%#@product.productname%> from <%#@product.brandname%> -- hosted by Beeline Co." target="blank" ><img class="social-show" src="img/pinterest.png" width="20" ></a> -->
                   
                  <!-- STUMBLEUPON -->
                   
                    <!-- <a href="http://www.stumbleupon.com/submit?url=<%#request.url%>&title=<%#@product.productname%> from <%#@product.brandname%> hosted by Beeline Co.+<%#request.url%>" target="blank"><img class="social-show" src="img/stumbleupon.png" width="20" ></a> -->
        		</div>
			</div>
			<hr class="black-hr">

<!-- PROFILE -->
			<div class="row">
				<div class="col-md-12">
				<h5 style="margin-bottom:-15px">MEET THE MAKER:<h5><h3><%=@brand.name.html_safe%></h3>
					<h5 id="location" class="subh-font" ><%=@brand.location.html_safe%></h5> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<img id="brand-image" src="http://missionworkshop.com/images/home-slides/_single/san-francisco-store.jpg" width="100%"/>

				<!-- <%# @product.brandpic %> -->
				</div>
			</div>
			<div class="row" style="padding-bottom:20px">
				<div class="col-md-12">
				<!-- FACEBOOK -->
	          		<a href="http://facebook.com/<%#@product.facebookbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/facebook_square_black.png"/></a>
		        <!-- TWITTER -->
	          		<a href="http://twitter.com/<%#@product.twitterbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/twitter_square_black.png"/></a>

	          	<!-- INSTAGRAM -->
	          		<a href="http://instagram.com/<%#@product.instagrambrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/instagram_square_black.png"/></a>
	          	<!-- TUMBLER -->
	          		<a href="http://<%#@product.tumblrbrand.html_safe%>.tumblr.com/" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/tumblr_square_black.png"/></a>

				<!-- FACEBOOK -->
	            <!-- <%# if @product.facebookbrand != "" %>
	          		<a href="http://facebook.com/<%#@product.facebookbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/facebook_square_black.png"/></a><%#end%> -->
		        <!-- TWITTER -->
		        <!--<%# if @product.twitterbrand != "" %>
	          		<a href="http://twitter.com/<%#@product.twitterbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/twitter_square_black.png"/></a><%#end%> -->
	          	<!-- INSTAGRAM -->
	          	<!-- <%# if @product.instagrambrand != "" %>
	          		<a href="http://instagram.com/<%#@product.instagrambrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/instagram_square_black.png"/></a><%#end%> -->
	          	<!-- TUMBLER -->
	          	<!-- <%# if @product.tumblrbrand != "" %>
	          		<a href="http://<%#@product.tumblrbrand.html_safe%>.tumblr.com/" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/tumblr_square_black.png"/></a><%#end%> -->

	          	<p style="margin-top:5px;"><p><%=@brand.profile.html_safe%></p></p>

	          	<!--<%#@product.profile.html_safe%>-->
				</div>
			</div>
		</div>

		<div class="col-md-5 product-grid"p>
			<div class="row">
				<div class="col-md-12 hidden-xs">
					<h5 id="links"class="centerize" ><a href="/index">BACK TO HOME</a></h5>
					<h3 style="padding-bottom:5px; color:white; pointer-events:none;"class="centerize" >CURRENT PRODUCTS</h3>
					<hr style="margin:0;padding-bottom:10px;">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-xs-6">
					<a href="#" class="thumbnail">
						<%= image_tag("product_thumb1.jpg") %>
					</a>
				</div>
				<div class="col-md-6 col-xs-6">
					<a href="#" class="thumbnail">
						<%= image_tag("product_thumb1.jpg") %>
					</a>
				</div>
				<div class="col-md-6 col-xs-6">
					<a href="#" class="thumbnail">
						<%= image_tag("product_thumb1.jpg") %>
					</a>
				</div>
				<div class="col-md-6 col-xs-6">
					<a href="#" class="thumbnail">
						<%= image_tag("product_thumb1.jpg") %>
					</a>
				</div>
			</div>
		</div>