<tr>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.name %>
  </td>
  <td>
    <%= user.email %>
  </td>
  <td>
    <%= time_ago_in_words(user.current_sign_in_at) %>
  </td>
  <%= simple_form_for([:admin, user]) do |f| %>
    <td>
      <%= f.check_box :admin %>
    </td>
    <td style="font-size:.5em">
      <% unless current_user.id == user.id %>
        <%= f.button :submit, class: "btn btn-primary btn-xs" %>  
      <% end %>
    </td>
  <% end %>
</tr>