<hr>
<%= simple_form_for(@product, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :image, label: "Upload an image" %>
  <%= f.input :image_remote_url, label: "or/ Enter an image URL:" %>
  <%= f.input :brandname, label: "Enter Brand Name:" %>
  <%= f.input :productname, label: "Enter Product Name:" %>
  <%= f.input :description, as: :text, label: "Enter Product Description:"%>
  <%= f.input :ecomm_url, label: "Celery Product Code?" %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>