<hr>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= simple_form_for(@product, html: { class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :image_file_size, class: "alert alert-error" %>
        <%= f.full_error :image_content_type, class: "alert alert-error" %>

      <%= f.input :image, label: "Upload a home image:" %>
      <%= f.input :image_remote_url, label: "or/ Enter an image URL:" %>
      <%= f.input :productname, label: "Enter Product Name:" %>
      <%= f.input :price, label: "Price:" %>
      <%= f.input :description, as: :text, label: "Enter Product Description:"%>
      <%= f.input :ecomm_url, label: "Celery Product Code?" %>
      <%= f.input :pic1, label: "Picture 1:" %>
      <%= f.input :pic2, label: "Picture 2:" %>
      <%= f.input :pic3, label: "Picture 3:" %>
      <%= f.input :pic4, label: "Picture 4:" %>
      <%= f.input :pic5, label: "Picture 5:" %>
    </div>
    <div class="span6">
      <%= f.input :brandname, label: "Enter Brand Name:" %>
      <%= f.input :location, label: "Enter Location:" %>
      <%= f.input :brandpic, label: "Brand Picture URL" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
