<%= form_for([@product.brand, @product], html: { class: "form-horizontal" }) do |f| %>
<div class="col-md-12 white-background" >
  <div class="row">
    <div class="col-md-4">
      <%#= f.error_notification %>
        <div class="form-actions" style="padding:10px;">
          <%= f.submit class: "btn btn-primary" %>
        </div>

        <%= f.check_box :active %> Active?
        <br>
        <%= f.check_box :archived %> Archive?
        <br>
        <%= f.check_box :usa %> USA?
        <br>

        <div class="forms-admin">
          <br>
          <%#= f.error_notification %>

          <%= f.text_field :name, placeholder: "Enter Product Name",label:false %>
          <%= f.text_field :price, placeholder: "Price ($)",label:false %>
          <%= f.text_field :percentage, placeholder: "% Backed",label:false %>
          <%= f.text_field :end_date, placeholder: "Campaign End (2013-11-15)",label:false %>
          <br>
          <%= f.text_field :deliver_date, placeholder: "Estimated Production+Shipping Time",label:false %>
          <br>
          <%= f.text_field :status, placeholder: "Status?",label:false %>
          
          <%= f.fields_for :remote_data do |form| %>
            <%= form.text_field :slug, placeholder: "Celery ID" %>
          <% end %>

          <br>
          <br>
          
          <h6>Campaign Updates?</h6>
            <%= f.text_area :updates, as: :text, :rows => "5", :cols => "50", class: 'wysihtml5 textbox', label: false;%>
          <hr>
        </div>
        <div class="row">
            <div class="col-md-12">
              <h6>Existing Product Information:</h6>
                <%= f.check_box :existingline %> Enable?
                <%= f.text_field :existingurl, placeholder: "Product URL",label:false,class:'textbox' %>
                <hr style="border-color:black;">
              <h6>Limited Edition Information:</h6>
              <%= f.check_box :limited %> Enable?
              <br>
                <%= f.text_area :limitednumber, :rows => "3", placeholder: "i.e. Limited Edition 500 Units", class: 'textbox', label:false %>
            </div>
          </div>
    </div>

    <div class="col-md-8">

      <%#= f.full_error :image_file_size, class: "alert alert-error" %>
      <%#= f.full_error :image_content_type, class: "alert alert-error" %>
      <div class="row">
        <div class="col-md-6">
          <h6>Primary Image:</h6><p style="margin-top:-10px; font-size:.85em">(Main Picture of Product >600x600)<p>
          <% if @product.primary_image? %>
            <p>Image Preview: (upload a new picture to replace)</p>
            <%= image_tag @product.primary_image, id: "img-preview" %>
          <% end %>
          <%= f.file_field :primary_image %>
        </div>
        <% if @product.persisted? %>
          <div class="col-md-6">
            <h6>Secondary Images:</h6><p style="margin-top:-10px; font-size:.85em">(Alternate Product Photos >600x600)<p>
            <h5 style="font-size:.7em"><%= link_to "Edit secondary photos", product_secondary_images_path(@product) %></h5>
            <% if @product.has_secondary_images? %>
              <h6>Current Photos:</h6>
              <% @product.secondary_images.each do |image| %>
                <%= image_tag image.image, id: "img-preview" %>
              <% end %>
            <% else %>
              <p>No Secondary Photos uploaded yet.</p>
            <% end %>
            
          </div>
        <% end %>
      </div>

      <hr style="border-color:black;">
      <div class="row">
        <div class="col-md-12">
          <h6>Details:</h6>
            <%= f.text_area :details, as: :text, :rows => "8", :cols => "50", class: 'wysihtml5 textbox', placeholder: "Narrative about product", label:false;%>
          <h6>Brand Description of Product:</h6>
            <%= f.text_area :description, as: :text, :rows => "3", :cols => "50", class: 'wysihtml5 textbox', placeholder: "Why is the brand making this product, what makes it special, what inspired the idea?", label:false;%>
         
          <div class="row">
            <hr style="border-color:black;">
            <div class="col-md-12">   
              <h6>FEATURES:</h6>
              <%= f.text_area :features, as: :text, :rows => "10", :cols => "20", class: 'wysihtml5 textbox', label: false;%>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <h6>Dimensions?</h6>
              <p style="font-size:.8em;">(i.e. 10"Wx12"H)</p>
              <%= f.text_area :dimensions, :rows => "5" ,label:false %>
            </div>
            <div class="col-md-7">
              <h6>MATERIALS:</h6>
              <%= f.text_area :materials, as: :text, :rows => "4", :cols => "20", class: 'wysihtml5 textbox', label:false;%>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<% end %>

<% content_for(:scripts) do %>
  <script type="text/javascript">
    $(function() {
      $('.wysihtml5').each(function(i, elem) {
        $(elem).wysihtml5();
      });
    })
  </script>
<% end %>
