<div class="col-md-12 white-background" style="padding-bottom:20%">
  <div class="row">
    <div class="col-md-6 forms">
      <%= simple_form_for([@product.brand, @product], html: { class: "form-horizontal" }) do |f| %>
        <%= f.error_notification %>

        <br>
        <%= f.input :name, placeholder: "Enter Product Name",label:false %>
        <%= f.input :price, placeholder: "Price ($)",label:false %>
        <%= f.input :deliver_date, placeholder: "Estimated Delivery Date",label:false %>
        <br>
        <%= f.input :description, as: :text, input_html: { rows: "10", class: 'textbox wysihtml5' }, 
                                  label: "Enter Product Description:"%>
        <%= f.input :details, as: :text, input_html: { rows: "10",cols: "50", class: 'textbox wysihtml5'  },
                                  label: "Enter Product Details:"%>

        <%= f.input :ecomm_url, label: "Celery Product Code?" %>
      </div>
      <div class="col-md-6">
        <%= f.full_error :image_file_size, class: "alert alert-error" %>
        <%= f.full_error :image_content_type, class: "alert alert-error" %>

        <h5>Current Photos</h5>
        <% if @product.images.empty? %>
          <p>No photos uploaded yet!</p>
        <% else %>
          <% @product.images.each do |image| %>
            <%= image_tag(image.image(:small), size: "75x75") if image.persisted? %>
          <% end %>
        <% end %>

        <div class="row">
          <%= f.label "Upload some images!" %>
        </div>
        <%= f.simple_fields_for :images, html: { multipart: true } do |i| %>
          <%= i.input :image, label: "Upload a photo!" %>
        <% end %>
        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
        <% end %>
    </div>
  </div>
</div>


<!-- wysihtml5 -->
<script type="text/javascript">
$(function() {
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });
})
</script>