<%= form_for([@product.brand, @product], html: { class: "form-horizontal" }) do |f| %>
<div class="col-md-12 white-background" >
  <div class="row">
    <div class="col-md-3">
      <%#= f.error_notification %>
        <div class="form-actions" style="padding:10px;">
          <%= f.submit class: "btn btn-primary" %>
        </div>

        <div class="forms-admin">
          <br>
          <%#= f.error_notification %>

          <%= f.text_field :name, placeholder: "Enter Product Name",label:false %>
          <%= f.text_field :price, placeholder: "Price ($)",label:false %>
          
          <br>
          <%= f.text_field :deliver_date, placeholder: "Estimated Delivery Date",label:false %>
          <br>
          <br>
          <%= f.text_field :status, placeholder: "Status?",label:false %>
          
          <br>
          
          <h6>Campaign Updates?</h6>
          <%= f.text_area :updates, as: :text, :rows => "5", :cols => "50", class: 'wysihtml5 textbox', label: false;%>
        </div>
    </div>

    <div class="col-md-9">

      <%#= f.full_error :image_file_size, class: "alert alert-error" %>
      <%#= f.full_error :image_content_type, class: "alert alert-error" %>

      <% unless @product.new_record? %>
        
        <% if @product.images.empty? %>
          <p>No photos uploaded yet!</p>
        <% else %>
        <h6>Current Photos:</h6>
          <% @product.images.each do |image| %>

            <!-- TODO: this needs to get fixed -->
            <%#= image_tag(image.image(:small), size: "75x75") if image.persisted? %>

          <% end %>
        <% end %>
      <% end %>

      <%= f.fields_for :image, html: {multipart: true} do |image_field| %>
        <%= image_field.file_field :image %>
      <% end %>

       

          
        
        <hr style="border-color:black;">
        <div class="row">
          <div class="col-md-12">
<!-- BRAND DESCRIPTION -->
            <h6>Brand Description of Product:</h6>
            <%= f.text_area :description, as: :text, :rows => "5", :cols => "50", class: 'wysihtml5 textbox', placeholder: "Why is the brand making this product, what makes it special, what inspired the idea?", label:false;%>
            <div class="col-md-6">
<!-- FEATURES & MATERIALS -->     
              <h6>FEATURES:</h6>
             <%= f.text_area :details, as: :text, :rows => "5", :cols => "20", class: 'wysihtml5 textbox', label: false;%>
            </div>
            <div class="col-md-6">
              <h6>MATERIALS:</h6>
              <%= f.text_area :materials, as: :text, :rows => "5", :cols => "20", class: 'wysihtml5 textbox', label:false;%>
            </div>
          </div>
        </div>

      <%#= brand.input :active, as: :checkbox, label: "Active?"%>
      <%#= brand.input :archived, as: :checkbox, label: "Archive?"%>
      
      <%#= f.text_field :ecomm_url, label: "Celery Product Code?" %>
    </div>

  </div>
</div>
<% end %>

<!-- wysihtml5 -->
  <script type="text/javascript">
    $(function() {
        $('.wysihtml5').each(function(i, elem) {
        $(elem).wysihtml5();
      });
    })
  </script>
