<div class="<%= size %>" >
	
  <%= link_to image_tag(product.primary_image), product_path(product), class: 'thumbnail', data: { product_id: product.id } %>

  <h6 style="position:absolute;bottom:14px;left:19px;text-align:left;pointer-events:none;color:white;opacity:0;font-size:.7em !important;padding:10px;background-color:rgba(0,0,0,0.6);border-top-right-radius:5px" class="tits">
		<span style="font-family:maven-pro, serif;font-size:1.6em;"><%= product.name%></span><hr style="margin:0;margin-bottom:-5px"><br>
		<span class="glyphicon glyphicon-signal" style="color:#3aa63b;font-size:1.9em;"></span>&nbsp;
		<span style="font-size:1.4em !important;"><%= product.percentage %></span>% Funded<br>
		<span class="glyphicon glyphicon-time" style="color:white;font-size:1.9em;"></span>&nbsp;&nbsp;<span style="font-size:1.4em !important"><%= time_ago_in_words(product.end_date).html_safe unless product.end_date.blank? %></span> left
	</h6>
</div>
