<div class = "box">
		<p id="h-product" class="h-font"><%=product.productname%></p>
		<span id="h-brandname" class="subh-font"><%=product.brandname%></span>
		<p id="h-funding" class="h-font"><span style="font-size:.6em">$</span><%=product.price%> - <span style="padding:4px;border-radius:2px; color:white; background-color: rgba(56, 158, 57, 1);">60% Funded</spam></p>
		<div class="h-pic">
		<%= link_to image_tag(product.image(:large)), product %>
		</div>
	<% if current_user == product.user %>
		<p>
		<%= link_to 'Edit', edit_product_path(product) %>
		//
		<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
		</p>
	<% end %>
</div>

