<div class="col-md-offset-1 col-md-8 white-background">
  <h1>Products List</h1>
  <h5 style="font-size:.9em;">Total: <%= Product.count%></h5>
  <hr style="border-color: rgba(0,0,0,.3);margin-top:2px">
  <div class="table-responsive">
    <table class="table table-striped table-condensed" style="font-size:.75em">
      <thead>
        <tr>
          <th>ID</th>
          <th>Active?</th>
          <th>Campaign?</th>
          <th>Owner</th>
          <th>Brand</th>
          <th>Name</th>
          <th>Pic</th>
          <th>$</th>
          <th>Delivery Date</th>
          <th>Status</th>
          <th>Created</th>
          <th>Updated</th>
          
          <!-- <th>Update?</th> -->
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>

        <% @products.each do |product| %>

          <tr>
            <td><%= product.id %></td>
            <td><% if product.active == true %>
              <span class="glyphicon glyphicon-ok" style="color:#389e39"></span>
                <% else %>
              <span class="glyphicon glyphicon-remove" style="color:#A32638"></span>
              <% end %>
            </td>
            <td>
              <% if product.existingline == true %>
                -
              <% else %>
                <span class="glyphicon glyphicon-ok" style="color:#389e39"></span>
              <% end %>
            </td>
            <td><%= product.owner_id %></td>
            <td><%= product.brand_id %></td>
            <td><%= link_to product.name, product %></td>
            <td><%= link_to image_tag(product.primary_image.thumb, size: "30x30"), product %></td>
            <td>$<%= product.price %></td>
            <td><%= product.deliver_date %></td>
            <td><%= product.status %></td>
            <td><%= product.created_at.strftime("%D") %></td>
            <td><%= time_ago_in_words(product.updated_at) %></td>

            <!-- <%#= form_for([:active, product]) do |f| %>
              <td>
                <%#= f.check_box :active %>
              </td>
              <td style="font-size:.5em">
                <%#= f.submit%>
              </td>
            <%# end %> -->

            <td>
              <span><%= link_to "X", product, method: :delete, class:"x-btn", data: { confirm: 'Are you sure?' } %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @products %>
</div>

