<div class="col-md-offset-1 col-md-8 white-background">
  <h1>Products List</h1>
  <div class="table-responsive">
    <table class="table table-striped table-condensed" style="font-size:.75em">
      <thead>
        <tr>
          <th>ID</th>
          <th>Owner</th>
          <th>Brand</th>
          <th>Name</th>
          <th>Price</th>
          <th>Delivery Date</th>
          <th>Status</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Active?</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.owner_id %></td>
            <td><%= product.brand_id %></td>
            <td><%= link_to product.name, product %></td>
            <td>$<%= product.price %></td>
            <td><%= product.deliver_date %></td>
            <td><%= product.status %></td>
            <td><%= time_ago_in_words(product.created_at) %></td>
            <td><%= time_ago_in_words(product.updated_at) %></td>
            <td><%= product.active %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @products %>
</div>

