<div class="col-md-offset-1 col-md-8 white-background" style="padding-bottom:20%;">
  <h1>Products List</h1>
  <div class="table-responsive">
    <table class="table table-striped" style="font-size:.75em">
      <thead>
        <tr>
          <th>ID</th>
          <th>Brand</th>
          <th>Name</th>
          <th>Price</th>
          <th>Status</th>
          <th>Active?</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product, brand| %>
          <tr>
            <td><%= product.id %></td>
            <td>Brand<%#= @product.brand.name %></td>
            <td><%= link_to product.name, product %></td>
            <td>$<%= product.price %></td>
            <td><%= product.status %></td>
            <td><%= product.active %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

