<br>
<br>
<head> 
	<script type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script> 
	<script type="text/javascript" src="https://www.trycelery.com/js/progress-widget.js"></script>
</head>


<div class="row">
	<div class="span9">
		<h1>
			<%= @product.brandname %>
		</h1>
		<p id="product_title">
		  <%= @product.productname %>
		</p>
		<div class="row">
		<div class="span4">
			<div class="well" id="pro_images">
				<%= image_tag @product.image %>
			</div>
		</div>	
		<div class="span5">
				<p>
					<button data-celery=<%=@product.ecomm_url.html_safe%>>BACK IT</button>
					<p>
						<!-- success=green, warning=yellow, important=red, info=blue -->
					Campaign Status: <span class="label label-warning"><i>Funding<i/></span>
					<div class="celery-progress-bar" data-celery-slug=<%=@product.ecomm_url.html_safe%> data-celery-words=" of funding accomplished" data-celery-color="#1a1a1a" data-celery-goal-text="Funded!"></div>
					</p>
					<hr>
					<%= @product.description %>
				</p>
					<% if current_user == @product.user %>
						<p>
							Uploading user: <%= @product.user.name %>
						</p>
						<p>
							Created at: <%= @product.created_at %>
						</p>
							Updated at: <%= @product.updated_at %>
						</p>
						<p>
							Image file name: <%= @product.image_file_name %>
						</p>
						<p>
							Celery Button Code: <%= @product.ecomm_url %>
						</p>
						
						<%= link_to 'Edit', edit_product_path(@product) %> |
						<%= link_to 'Back', products_path %>
					<% end %>
				</p>
			</div>
			</div>
	</div>
</div>


