<!-- PRODUCT PICTURE PANE -->
<div class="col-md-5" >
  <div id="mid-container" >

    <% if @product.existingline != true %>
      <div class="mid-pic-frame" >
        <div id="p-thumbnails-box">
          <% @product.secondary_images.map(&:image).each do |image| %>
            <%= image_tag(image, class: "p-thumbnails") %>
          <% end %>
          
          <%= image_tag(@product.primary_image, class: "p-thumbnails") %>
        </div>
        <img class="img-responsive" id="product-image" src="<%= image_path(@product.primary_image) %>"/>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well well-sm detail-well" style="padding-top:10px;padding-bottom:10px;">
            <div class="col-md-7 col-sm-7" style="z-index:50;">
              <a href="#" data-celery="backpack"><div id="backbtn" class="flatbtn centerize">BACK IT</div></a>
                <hr class="black-hr" style="margin-bottom:5px">
              <a href="#FAQModal" data-toggle="modal"><h3 id="FAQLink" class="centerize">HOW DOES THIS WORK?</h3></a>
                <hr class="black-hr" style="margin-top:5px">
            </div>
            <div class="col-md-5 col-sm-5 centerize" id="price-line" style="border-left:1px solid rgba(0,0,0,.1);">
              <h6>$<span id="price"><%= @product.price %></span></h6>
              <div id="delivery">
                <h5 style="font-size:.9em">Estimated Delivery:</h5> 
                  <hr class="black-hr" style="margin-top:-8px; margin-bottom:5px"> 
                <p style="font-size:.9em"><%= @product.deliver_date.html_safe %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 centerize" id="updates">
                <%=@product.updates.html_safe%>
              </div>
            </div> 
          </div>
        </div>
      </div>
    <% else %>
      <div class="mid-pic-frame" id="existing-image-box" >
        <div id="p-thumbnails-box">
          <%= image_tag(@product.primary_image, class: "p-thumbnails") %>
          <% @product.secondary_images.map(&:image).each do |image| %>
            <%= image_tag(image, class: "p-thumbnails") %>
          <% end %>
        </div>
        <img class="img-responsive" id="product-image" src="<%= image_path(@product.primary_image) %>"/>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well well-sm detail-well">
            <a href="<%= @product.existingurl.html_safe unless @product.existingurl.blank? %>" target="blank">
              <div class="flatbtn-deux centerize" id="existing-product-btn">Purchase</div>
            </a>
              <hr class="black-hr" style="width:45%;margin-bottom:3px;margin-top:10px">
            <a href="#existing-modal" style="color:black;" data-toggle="modal"><p  class="centerize">About the 'Bread & Butter' Series</p></a>
              <hr class="black-hr" style="width:45%;margin-top:2px;margin-bottom:-10px">
            <br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

    
<div class="col-md-5" >  
  <div class="row" id="details">
    <div class="col-md-12">
<!-- SOCIAL HEADER-->
      <div class="row">
        <div class="col-md-12">   
          <h5 id="social-title" style="margin-top:-5px;" class="centerize" >SPREAD THE GOOD WORD</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 centerize">
          <!-- FACEBOOK -->
          <a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=<%=request.original_url%>&amp;p[title]=<%= @product.name %>+by+<%= @product.brand.name.html_safe %>+on+Farallon+Co.&amp;p[images][0]=https://s3.amazonaws.com/beelineco/FarallonCo-ShortForm.jpg&amp;p[summary]=Farallon+Co+-+Top+Tier+Brands,+Fan+Backed+Product,+Join+the+Company." target="blank"><%= image_tag("facebook.png", class: "social-show", width: "20") %></a>
          <!-- TWITTER -->
          <a href="http://twitter.com/home?status=Check+out+<%= @product.name %>+by+<%= @product.brand.name %>+on+@farallonco+(<%=request.original_url.html_safe%>)" target="blank" ><%= image_tag("twitter.png", class: "social-show", width: "20") %>
          </a>
          <!-- GOOGLE PLUS -->
          <a href="https://plus.google.com/share?url=<%=request.original_url.html_safe%>" target="blank"><%= image_tag("googleplus.png", class: "social-show", width: "20") %></a>
          <!-- PINTEREST -->
          <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%@product.primary_image%>&url=<%=request.original_url%>&is_video=false&description=<%= @product.name %> by <%=@product.brand.name%> on Farallon Co." target="blank" ><%= image_tag("pinterest.png", class: "social-show", width: "20") %></a>
           
          <!-- STUMBLEUPON -->
          <a href="http://www.stumbleupon.com/submit?url=<%=request.original_url%>&title=<%= @product.brand.name %> by <%=@product.brand.name%> on Farallon Co.+<%=request.original_url%>" target="blank"><%= image_tag("stumbleupon.png", class: "social-show", width: "20") %></a>
        </div>
        <hr class="black-hr" style="padding-bottom:20px;">
      </div>
    </div>

<!-- DESCRIPTION -->
    <div class="row">
      <div class="col-md-12">
            <h3 style="margin-top:-10px;" class="centerize"><%=@product.name.html_safe%></h3>
              <% if current_user.try(:admin?) %>
                <p style="font-size:.55em;margin-bottom:-10px;" class="centerize"><%= link_to "[EDIT PRODUCT]",  edit_brand_product_path(@brand, @product)%></p>
              <%end%>
          <br>
          <div class="row">
            <div class="col-md-12">
              <blockquote class="pull-right" style="margin-top:-10px;margin-bottom:0px">
                <p style="font-size:1.2em;font-style:italic;"><%=@product.description.html_safe%></p>
                <h6 style="font-size:.6em"><small><%= @product.brand.founders%> of <%=@product.brand.name.html_safe%></small></h6>
              </blockquote>
            </div>
          </div>
          <div class="row" id="product-details">
            <div class="col-md-6 col-sm-6">
              <h6 class="centerize">Features</h6>
              <hr class="black-hr">
              <%= @product.details.html_safe unless @product.details.blank?%>
            </div>
            <div class="col-md-6 col-sm-6">
              <h6 class="centerize">Materials</h6>
              <hr class="black-hr">
              <%= @product.materials.html_safe unless @product.materials.blank?%>
              <br>
              <div style="text-align:center;margin-bottom:20px">
                <h6 class="centerize">Dimensions</h6>
                <hr class="black-hr">
                <%= @product.dimensions.html_safe unless @product.dimensions.blank?%>
              </div>
            </div>
          </div>
          <% if @product.limited == true %>
            <h6 class="centerize"><strong>NOTE:</strong> <i><%=@product.limitednumber%></i></h6>
            <br>
          <% end %>
          <% if @product.usa == true %>
            <div class="centerize" style="pointer-events:none;padding-bottom:15px">
              <span id="usa-text">Made in USA&nbsp;</span><%= image_tag("usa-flag.jpg", id: "usa") %>
            </div>
          <% end %>
          <hr class="black-hr">
      </div>
    </div>

    

  <!-- PROFILE -->
    <div class="row">
      <div class="col-md-12">
        <h6 style="margin-bottom:-15px">MEET THE MAKER:</h6>
        <h3><%= link_to @product.brand.name, brand_path(@brand), class:'brand-title' %></h3>
        <% if current_user.try(:admin?) %>
            <p style="font-size:.55em;margin-bottom:10px;margin-top:-5px"><%= link_to "[EDIT BRAND]", edit_brand_path([@brand])%></p>
        <%end%>
        <h5 class="location" style="font-size:.85em" ><%=@product.brand.location.html_safe%></h5>
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= image_tag(@product.brand.secondary_images.first.image, id: "brand-image") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><%=@product.brand.profile.html_safe%></p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:20px;color:rgba(255,255,255,.9);background-color: rgba(0,0,0,0.3); border-radius:3px;">
      <div class="col-md-12">
        <h6 class="centerize" style="padding-top:10px;">Keep exploring</h6>
        <hr class="white-hr" style="opacity:.3;margin-top:-1px;width:40% !important;">
          <div class="row">
            <%= render :partial=>'products/product', :collection => @products, :locals => {:size => 'col-md-4 col-xs-6'}  %>
          </div>
          <div class="row">
            <h6 class="centerize" style="padding-top:10px;">More Brands</h6>
            <hr class="white-hr" style="opacity:.3;margin-top:-1px;width:40% !important;">
            <%= render :partial=>'brands/brand', :collection => @brands, :locals => {:size => 'col-md-3 col-xs-6'}  %>
          </div>
      </div>
    </div>
</div>





  <!-- END OF DETAILS -->

<!-- CELERY SCRIPTS -->
<script type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script>

<!-- B&B Modal -->
          <div class="modal fade" id="existing-modal" tabindex="-1" role="dialog" aria-labelledby="Submit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" style="font-size:3em;margin-top:-10px;" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3 class="modal-title">About the 'Bread & Butter Series'</h3>
                </div>
                <div class="modal-body" >

                  <p style="text-align:center;">This product is part of our 'Bread & Butter' series, which highlights the products that made this brand what it is today or simply new products we think you should be aware of. <br><br>Keep in mind that these are not campaigns. We merely are striving to become your one-stop-shop for product discovery.<br><br><i style="font-size:.7em;">The link below will redirect you to the <%= @product.name %> on our brand partner's site. <br>If you end up purchasing, let us know... We always appreciate a good hat tip.</i></p>
                  <br>
                  <a href="<%= @product.existingurl.html_safe unless @product.existingurl.blank? %>" target="blank">
                    <div class="flatbtn-deux centerize" id="existing-product-btn">Take me there</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
<!-- FAQ Modal -->
  <div  class="modal fade" id="FAQModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #12162a">
            <button type="button" class="close" style="font-size:3em;margin-top:-10px;color:white;" data-dismiss="modal" aria-hidden="true">&times;</button>
            <%= image_tag("FarallonCo-LongForm-T.png", width: "200") %> 
    <h5 class="modal-title" style="color:white;">Frequently Asked Questions</h5>
            </div>
            <div class="modal-body">
    <h3 style="margin-top:-15px;">What is going on here?</h3>
              <hr style="margin-top:-5px;">
           
                    <p>In short: We partner with high quality brands, then create campaigns for ideas they want to test -- you then 'back' the items you're interested in.
                    <br><br>
                    Once the number of items backed reaches the campaign goal, the item is successfully funded and the brand starts production. 
                    <br><br>
                    We (or the brand) ship off products when they are ready to go.</p>
              <hr style="margin-top:-5px;">

    <h5>How can I support these brands/products?</h5>
              <ol>
                <li><h3>Back it:</h3> A commitment to financially back the production of this item when enough people have shown interest (this will be very explicit on the page). Your card only gets charged after a product hits the goal of a number of backers. <!-- <hr style="margin-bottom:5px;">All backers recieve <i>Free Priority Shipping</i> after their goods are ready.<hr style="margin-top:5px;"> --></li>
                <li><h3>Share it:</h3> Broadcast out to people who you think would appreciate this brand or product. Products only get made with enough support, so spread the good word!</li>
                <li><h3>Preorder:</h3>After a product reaches its funding goal, you are still able to preorder it for the remainder of its time on the site. Keep in mind that you may get your goods after the first batch of orders are run -- lesson being, back early to get your items quickly. <!-- <hr style="margin-bottom:5px;">No free shipping - early bird gets the worm!<hr style="margin-top:5px;"> --></li>
              </ol>
              <br>

    <h5>When does my card get charged?</h5>
                  <hr style="margin-top:-5px;">
                  <p>When you hit “Back It”, we will collect your shipping and billing information - but will only authorize the charge, not actually charge you. When the item reaches its funding goal, your card will be securely charged. <br>**If an item expires without being funded, you will not be charged and your (payment & shipping) information will be cleared from our system.</p>
              <br>

    <h5>Is my billing information safe?</h5>
                  <hr style="margin-top:-5px;">
                  <p>Of course. All payments are processed using 256-bit SSL encryption and our ecommerce platform is built on the premier payments platform, <a href="https://www.stripe.com/" target="blank">Stripe</a>. Stripe is certified to <a href="http://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe" target="blank">PCI Service Provider Level 1</a>. This is the most stringent level of certification available.</p>
              <br>
    <h5 class="subh-font">Can I change my order or cancel it?</h5>
                  <hr style="margin-top:-5px;">
                  <p>If a campaign hasn't been funded & shipped yet - you can change item options, shipping address, or cancel your order by following the "Click here to manage your order." link in your order email. If a product has been funded or shipped, you will need to <a href="mailto:support@farallon.co">get in touch</a> with us directly.</p>
                <br>
    <h5>When will my items be shipped?</h5>
                <hr style="margin-top:-5px;">
              <p>The expected shipping date is listed on each item’s product page. We strive to beat that date, but hiccups may occur -- rest assured, if we (or our partner brands) get the hiccups, youll be notified.</p>
                <br>
    <h5>Can an item be funded more than 100%?</h4>
                  <hr style="margin-top:-5px;">
              <p>Yes, this is what we call a 'preorder'.</p>
              <br>

    <h5>Can I exchange or return an item after I receive it?</h5>
              <hr style="margin-top:-5px;">
              <p>Due to the nature of this type of funding model, we will only accept returns if the product is deemed defective. We will make it right regardless.</p>

              <br>
    <h5>Who are the brands you feature? Why should I trust them?</h5>
              <hr style="margin-top:-5px;">
              <p>We built relationships with top-notch brands from all over the globe and will never feature a campaign that we wouldn't back ourselves. Most of the brands we will feature build their product in the U.S.A., but will feature any brand that is built with integrity - regardless of its origin.</p>
              <p>Unlike traditional crowdfunding models, we only feature an established brand's products - which inherently takes alot of the risk out of backing a campaign. This is because established brands know their production capabilities and understand how to run a successful business that delivers on their promises.</p>
              <br>

            </div>
            <div class="modal-footer centerize">
              <button class="flatbtn" id="FAQbtn-close" style="text-decoration: none;" data-dismiss="modal" aria-hidden="true">All good?</button>
                  <a href="mailto:support@farallon.co" style="text-decoration: none;"><button class="flatbtn" id="FAQbtn" >More Questions? Email us.</button></a>
            </div>
            </div>
          </div>
    </div>