<!-- PRODUCT PICTURE PANE -->
<div class="col-md-5">
  <div id="mid-container" >
      <div class="mid-pic-frame">
        <div id="p-thumbnails-box">
          <% @product.secondary_images.map(&:image).each do |image| %>
            <%= image_tag(image, class: "p-thumbnails") %>
          <% end %>
          
          <%= image_tag(@product.primary_image, class: "p-thumbnails") %>
        </div>
        <img class="img-responsive"  id="product-image" src="<%= image_path(@product.primary_image) %>"/>
      </div>
      <div id="thumbnail-hide">Hide</div>
  </div>
</div>

    
<div class="col-md-5 " >  
  <div class="row grey-border" id="details">
    <div class="col-md-12">
      <div style="margin-bottom:20px;margin-top:15px">
        <a href="/" class="backhome-btn"><div class="glyphicon glyphicon-globe" ></div></a>
        <a class="visible-xs visible-sm pull-right" style="padding-right:15px;" href="mailto:?subject=Take a look at Farallon Co...&amp;body=You should check out this product featured on Farallon Co.: <%= @product.name %> by <%= @product.brand.name %>: <%=request.original_url.html_safe%>" ><%= image_tag("email-message.png", class: "social-show", width: "25") %></a>
      </div>
<!-- SOCIAL HEADER-->
      <div class="row">
        <div class="col-md-12">  
        <div class="centerize hidden-xs hidden-sm">
          <h5 id="social-title" style="margin-top:0px;letter-spacing:2px;font-size:.65em" class="centerize" >SPREAD THE WORD</h5>
            <!-- TWITTER -->
          <a href="http://twitter.com/home?status=Check+out+the+<%= @product.name %>+by+<%= @product.brand.name %>+on+@farallonco+(<%=request.original_url.html_safe%>)" target="blank" ><%= image_tag("twitter.png", id:"fb-social", class: "social-show", width: "25") %>
          </a>
          <!-- FACEBOOK -->
          <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%=request.original_url%>&p[images][0]=<%= @product.primary_image.url %>&p[title]=<%= @product.name %>+by+<%= @product.brand.name.html_safe %>+on+Farallon+Co.&p[summary]=Farallon+Co.+-+Top+Tier+Brands,+Fan-Backed+Product,+Join+the+Company." target="blank"><%= image_tag("facebook.png", class: "social-show", width: "20") %></a>
          <!-- TUMBLR -->
          <a href="http://www.tumblr.com/share/photo?source=<%=u @product.primary_image.url %>&caption=<%=u @product.name %>+by+<%=u @product.brand.name %>+on+Farallon+Co.&clickthru=<%=u request.original_url %>" target="blank" ><%= image_tag("tumblr.png", class: "social-show", width: "20") %>
          </a>

          <a href="mailto:?subject=Take a look at Farallon Co...&amp;body=You should check out this product featured on Farallon Co.: <%= @product.name %> by <%= @product.brand.name %>: <%=request.original_url.html_safe%>" ><%= image_tag("email-message.png", class: "social-show", width: "20") %></a>

            <!-- GOOGLE PLUS -->
         <!--  <a href="https://plus.google.com/share?url=<%#=request.original_url.html_safe%>" target="blank"><%#= image_tag("googleplus.png", class: "social-show", width: "20") %></a> -->

          <!-- PINTEREST -->
          <!-- <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%#@product.primary_image%>&url=<%#=request.original_url%>&is_video=false&description=<%#= @product.name %> by <%#=@product.brand.name%> on Farallon Co." target="blank" ><%#= image_tag("pinterest.png", class: "social-show", width: "20") %></a> -->
           
          <!-- STUMBLEUPON -->
          <!-- <a href="http://www.stumbleupon.com/submit?url=<%#=request.original_url%>&title=<%#= @product.brand.name %> by <%#=@product.brand.name%> on Farallon Co.+<%#=request.original_url%>" target="blank"><%#= image_tag("stumbleupon.png", class: "social-show", width: "20") %></a> -->
          <hr class="black-hr" style="padding-bottom:20px;width:60%;">
          </div>
        
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 style="margin-top:0px;margin-bottom:-15px;" class="centerize"><%=@product.name.html_safe%></h3>
            <% if current_user.try(:admin?) %>
              <p style="font-size:.55em;margin-bottom:-10px;margin-top:15px;" class="centerize"><%= link_to "[EDIT PRODUCT]",  edit_brand_product_path(@brand, @product)%></p>
            <%end%>
          <br>
          <div class="row">
            <div class="col-md-12">
                <blockquote class="pull-right" style="margin-top:-10px;width:100%">
                  <p style="font-size:1em;font-style:italic;"><%=@product.tasting_notes.html_safe%></p>
                  <h6 style="font-size:.6em"><small><%= @product.brand.founders%> of <%=@product.brand.name.html_safe%></small></h6>
                </blockquote>
            </div>
          </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well well-sm detail-well" style="padding-top:10px;padding-bottom:10px;">
            <div class="row" id="product-details">
              <div class="col-md-7 col-sm-6">
                <h6 class="centerize">Grain Bill</h6>
                <hr class="black-hr" style="margin-top:0">
                <%= @product.grain_bill.html_safe unless @product.grain_bill.blank?%>

                <h6 class="centerize">Hops</h6>
                <hr class="black-hr" style="margin-top:0">
                <%= @product.hops.html_safe unless @product.hops.blank?%>

              </div>
              <div class="col-md-5 col-sm-6">
                <h6 class="centerize">ABV</h6>
                <hr class="black-hr" style="margin-top:0;width:40px">
                <span class="centerize"><%= @product.abv.html_safe unless @product.abv.blank?%>%</span>
                <br>
                <div style="text-align:center;margin-bottom:20px">
                  <h6 class="centerize">IBU</h6>
                  <hr class="black-hr" style="margin-top:0;width:40px;">
                  <%= @product.ibu.html_safe unless @product.ibu.blank?%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
          
          <hr class="black-hr">  
          <div class="row">
            <div class="col-md-12">
              <h6 style="margin-bottom:-15px">MEET THE MAKER:</h6>
              <h3><%= link_to @product.brand.name, brand_path(@brand), class:'brand-title' %></h3>
              <% if current_user.try(:admin?) %>
                  <p style="font-size:.55em;margin-bottom:10px;margin-top:-5px"><%= link_to "[EDIT BRAND]", edit_brand_path([@brand])%></p>
              <%end%>
              <h5 class="location" style="font-size:.85em;letter-spacing:1px;" ><%=@product.brand.location.html_safe%></h5>
              
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <%= link_to(@product.brand) do %>
                <%= image_tag(@product.brand.profile_image.image, id: "brand-image") %>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row grey-border" style="margin-top:20px;color:black; border-radius:3px;">
      <div class="col-md-12">
        <h6 class="centerize" style="padding-top:10px;">Keep exploring</h6>
        <hr style="margin-top:-1px;width:40% !important;">
          <div class="row">
            <%= render :partial=>'products/product', :collection => @products, :locals => {:size => 'col-md-4 col-xs-6'}  %>
          </div>
          <div class="row">
            <h6 class="centerize" style="padding-top:10px;">More Breweries</h6>
            <hr style="margin-top:-1px;width:40% !important;">
            <%= render :partial=>'brands/brand', :collection => @brands, :locals => {:size => 'col-md-3 col-xs-6'}  %>
          </div>
      </div>
    </div>
    <div class="row" style="height:100px"></div>
</div>





  <!-- END OF DETAILS -->
  <meta property="st:image" content="<%= image_path(@product.primary_image) %>">
  <!-- CELERY SCRIPTS -->
    <script type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script>

<!-- B&B Modal -->
          <div class="modal fade" id="existing-modal" tabindex="-1" role="dialog" aria-labelledby="Submit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" style="font-size:3em;margin-top:-10px;" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h3 class="modal-title">About the 'Bread & Butter Series'</h3>
                </div>
                <div class="modal-body" >

                  <p style="text-align:center;">This product is part of our 'Bread & Butter' series, which highlights the products that made this brand what it is today or simply new products we think you should be aware of. <br><br>Keep in mind that these are not campaigns. We merely are striving to become your one-stop-shop for product discovery.<br><br><i style="font-size:.7em;">The link below will redirect you to the <%= @product.name %> on our brand partner's site. <br>If you end up purchasing, let us know... We always appreciate a good hat tip.</i></p>
                  <br>
                  <a href="<%= @product.existingurl.html_safe unless @product.existingurl.blank? %>" target="blank">
                    <div class="flatbtn-deux centerize" id="existing-product-btn">Take me there</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
