<head>
  <!-- TUMBLR -->
  <script src="http://platform.tumblr.com/v1/share.js"></script>
  <!-- CAROUSEL -->
  <script type="text/javascript">
        $(function(){
          $('.carousel').carousel();
        });
      </script>
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Ideal counter:file://localhost/Users/alexblunk/Downloads/rendro-countdown-c6e6daa/examples/index.html -->
  

<div class="row-fluid" class="show-products">
  <div class="span12">
    <div id="myCarousel"class="carousel slide" data-pause="remove"> 
          <ol class="carousel-indicators" id="show-image-selector" style="display:none;">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
          </ol>
      <div class="carousel-inner stretch">
        <div class="item active">
            <img src="<%=@product.pic1.html_safe %>" alt="">
            <div class="carousel-caption">
             <h3 id="product_title"><%= @product.productname %></h3>
             <h5 id="brand_name"><%= @product.brandname %></h5>
            </div>
        </div>
        <div class="item">
            <img src="<%=@product.pic2.html_safe %>" alt="">
            <div class="carousel-caption">
                <h3 id="product_title"><%= @product.productname %></h3>
                <h5 id="brand_name"><%= @product.brandname %></h5>
            </div>
        </div>
        <div class="item">
            <img src="<%=@product.pic3.html_safe %>" alt="">
            <div class="carousel-caption">
                <h3 id="product_title"><%= @product.productname %></h3>
                <h5 id="brand_name"><%= @product.brandname %></h5>
            </div>
        </div>
        <div class="item">
            <img src="<%=@product.pic4.html_safe %>" alt="">
            <div class="carousel-caption">
                <h3 id="product_title"><%= @product.productname %></h3>
                <h5 id="brand_name"><%= @product.brandname %></h5>
            </div>
        </div>
        <div class="item">
            <img src="<%=@product.pic5.html_safe %>" alt="">
            <div class="carousel-caption">
                <h3 id="product_title"><%= @product.productname %></h3>
                <h5 id="brand_name"><%= @product.brandname %></h5>
            </div>
        </div>
      </div>
    </div>

        <div id="show-admin" class="subh-font">
          <% if current_user == @product.user%>
            <h4>
              <%= link_to 'Edit', edit_product_path(@product) %> //
              <%= link_to 'Back', products_path %>
            </h4>
            <p>
              Uploading user: <%= @product.user.name %>
            </p>
            <p>
              Created at: <%= @product.created_at %>
            </p>
              Updated at: <%= @product.updated_at %>
            </p>
            <p>
              Image file name: <%= @product.image_file_name %>
            </p>
            <p>
              Celery Button Code: <%= @product.ecomm_url %>
            </p>

          <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#myCarousel').mouseenter(function() {
      $('#show-image-selector').show();
    });
    $('#myCarousel').mouseleave(function(){
      $('#show-image-selector').hide();
    });
  });
</script>


<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
        <div class="span5 well">
          <div class="row-fluid">
            	<div class="span6">
            		<div class="centerize">
                  

                  <button class="flatbtn" id="backbtn" data-celery="<%=@product.ecomm_url%>">BACK IT</button>

                  <!-- Button to trigger modal -->
                  <hr style="margin-bottom:5px;">
                  <p>
                  <a href="#FAQModal" id="FAQ" class="h-font" data-toggle="modal">How does this work?</a>
                </p> 
                <hr style="margin-top:-8px;">
              </div>
                
                   
  			     </div>
  			       <br>
              <div class="span6 campaign-details">
              		<h2 id="price"><span style="font-size:.55em;">$</span><%=@product.price %></h2>
                  <div id="campaign-details">


                  <!-- MIN, MAX BACKERS -->

                    <h5 id="backers-needed" class="subh-font">Loading...</h5>


                    <!-- TIME -->

                    <h5 id="remaining" class="subh-font">Loading...</h5>

                  </div>
              		
  			       </div>
            </div>
        </div>
         <!-- FACEBOOK -->
                    <div class="centerize">
                      
                      <p style="pointer-events:none; margin-bottom:3px;margin-top:15px; padding-right:20px;display:inline;vertical-align: 5px;" class="h-font" >SPREAD THE GOOD WORD:</p>
                   
                        <a href="http://www.facebook.com/share.php?u=<%=request.url%>&title=<%=@product.productname%>by<%=@product.brandname%> hosted by Beeline Co." target="blank" ><img class="social-show" src="https://s3.amazonaws.com/beelineco/Social+Images/facebook.png" width="25" ></a>
                      
                      <!-- TWITTER -->
                        <a href="http://twitter.com/home?status=<%=@product.productname%> from <%=@product.brandname%> hosted by @thebeeline_co+<%=request.url%>" target="blank" ><img class="social-show" src="https://s3.amazonaws.com/beelineco/Social+Images/twitter.png" width="25" ></a>

                      <!-- GOOGLE PLUS -->
                      <a href="https://plus.google.com/share?url=<%=request.url%>" target="blank" class="social-show"style="text-decoration:none; color:#dd4a38; font-size:3em; vertical-align: 3px; ">+</a>
                     
                      <!-- PINTEREST -->
                      
                        <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%=@product.pic1%>&url=<%=request.url%>&is_video=false&description=<%=@product.productname%> from <%=@product.brandname%> -- hosted by Beeline Co." target="blank" ><img class="social-show" src="https://s3.amazonaws.com/beelineco/Social+Images/pinterest.png" width="25" ></a>
                       
                      <!-- STUMBLEUPON -->
                       
                        <a href="http://www.stumbleupon.com/submit?url=<%=request.url%>&title=<%=@product.productname%> from <%=@product.brandname%> hosted by Beeline Co.+<%=request.url%>" target="blank"><img class="social-show" src="https://s3.amazonaws.com/beelineco/Social+Images/stumbleupon.png" width="25" ></a>
                   
                    </div>
        <div class="span7">
            	<blockquote id="vendor-quote" class="pull-right">
            <p><%= @product.description.html_safe %></p>
            <small><%=@product.founders%> of <%=@product.brandname%></small>
          </blockquote>
          <hr>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span5">
      <div class="centerize">
        <!-- <span id="campaign-status" class="label label-default"><%=@product.productstatus%></span> -->
        <div class="celery-progress-bar" data-celery-slug="<%=@product.ecomm_url%>" data-celery-words=" funded" data-celery-color="#FFCC00" data-celery-goal-text="Funded!"></div>
        <hr>
      </div>
      <h4 class="subh-font updates" style="margin:10px 0 -5px -15px;">Campaign Updates:</h4>
          <div class="p-font"><p> <%=@product.updates.html_safe%></p></div>
          <hr>

          <!-- <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = '<beelineco>'; // Required - Replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a> -->
          
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12 centerize">
            <div class="fb-comments" data-href="<%=request.url%>.html_safe" data-width="400" data-num-posts="5"></div>
                <h4 class="subh-font" style="margin-left:-15px;">More <img src="https://s3.amazonaws.com/beelineco/BeelineLogo_v1.png" style="width:80px; margin:0 -10px 0 -7px;"/> Exclusives:</h4>
            <%= render @products %>
            <div class="pagination">
            <%= will_paginate @products %>
            </div>
          </div>
        </div>
      </div>
		</div>



		<div class="span7">
			 <h3 id="profile-title" class="h-font">Meet the Maker:<space> <%= @product.brandname.html_safe %></h3>
      <h5 id="location" class="subh-font" ><%= @product.location%></h5> 
      <div class="p-font" style="margin-bottom:100px;">

        <img id="brand-image" src="<%= @product.brandpic %>"/>

          <!-- FACEBOOK -->
            <% if @product.facebookbrand != "" %>
          <a href="http://facebook.com/<%=@product.facebookbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/facebook_square_black.png"/></a>
          <%end%>
          <!-- TWITTER -->
          <% if @product.twitterbrand != "" %>
          <a href="http://twitter.com/<%=@product.twitterbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/twitter_square_black.png"/></a>
          <%end%>
          <!-- INSTAGRAM -->
          <% if @product.instagrambrand != "" %>
          <a href="http://instagram.com/<%=@product.instagrambrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/instagram_square_black.png"/></a><%end%>
          <!-- TUMBLER -->
          <% if @product.tumblrbrand != "" %>
          <a href="http://<%=@product.tumblrbrand.html_safe%>.tumblr.com/" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/tumblr_square_black.png"/></a><%end%>



        <%=@product.profile.html_safe%>
    
      </div>
		</div>
	</div>
</div>






<!-- Modal -->
<div id="FAQModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="myModalLabel" class="h-font"><img src="https://s3.amazonaws.com/beelineco/BeelineLogo_v1.png" style="width:100px;"/> Frequently Asked Questions</h5>
  </div>
  <div class="modal-body" style="height:90%;">
    <h3 class="h-font" style="margin-top:-15px;">What is going on here?</h3>
    <hr style="margin-top:-5px;">
    <table>
      <tr>
        <td style="padding-right: 20px;">
          <img style="height:100px; padding-left: 20px;" src="https://s3.amazonaws.com/beelineco/SportingTile.png">
          <img style="width:150px;" src="https://s3.amazonaws.com/beelineco/BL_BagTile.png">
        </td>
        <td>
          <p class="p-font" style="width:80%; line-height:250%;">Brands want to test alternate colorways, prototype items, or new product lines; but generating goods before there is demand is risky business.</p>
        </td> 
      </tr>
    </table>
    <h4 class="subh-font">This is where <i>you</i> come in. You have a few options to help <i>beeline</i> these items into production.</h4>
    <ol>
      <li class="p-font"><h3 class="subh-font">Back it:</h3> A commitment to financially back the production of this item when enough people have shown interest. Your card only gets charged after a product hits the goal of a number of backers. <hr style="margin-bottom:5px;">All backers recieve <i>Free Priority Shipping</i> after their goods are ready.<hr style="margin-top:5px;"></li>
      <li class="p-font"><h3 class="subh-font">Share it:</h3> Broadcast out to people who you think would appreciate this brand or product. Products only get made with enough support, so spread the good word!</li>
      <li class="p-font"><h3 class="subh-font">Preorder:</h3>After a product reaches its funding goal, you are still able to preorder it for the remainder of its time on the site. <hr style="margin-bottom:5px;">No free shipping - early bird gets the worm!<hr style="margin-top:5px;"></li>
    </ol>

    <h3 class="h-font">When will my product ship?</h3>
    <hr style="margin-top:-5px;">
    <ul>
      <li>
        <p class="p-font">BACKERS: If a item that you backed reaches its goal, it will ship by the estimated provided -- we do our best to estimate how long production and shipping will take, but being flexible is the name of the game to recieve access to this new of product.</p>
      </li>
      <li>
        <p class="p-font" style="list-style:none;">PREORDERS: If we have the item in stock, your order should ship within 10 business days. Otherwise, we will provide an accurate estimate upon your order.</p>
      </li>
    </ul>
    <h3 class="h-font">Who are the brands you feature? Why should I trust them?</h3>
    <hr style="margin-top:-5px;">
    <p class="p-font">We built relationships with top-notch brands from all over the globe and will never feature a campaign that we wouldn't back ourselves. Most of the brands we will feature build their product in the U.S.A., but will feature any brand that is built with integrity - regardless of its origin.</p>
    <p class="p-font">Unlike traditional crowdfunding models, we only feature an established brand's products - which inherently takes alot of the risk out of backing a campaign. This is because established brands know their production capabilities and understand how to run a successful business.</p>

   <!--  <h3 class="h-font">How can I support the products on Beeline Co.?</h3>
    <hr style="margin-top:-5px;">
    <h5 class="subh-font">Crowdfunded Products:</h5><p class="p-font">These are items that need to raise a minimum amount of funds before the brand can 'flip the on-switch'. By backing a campaign, you are helping its creators determine the general demand for a particular protoype or style. In exchange, you will be rewarded with one of the first production units, a special version of the product, special pricing or some other form of recognition of your contribution to its launch.</p>

    <p class="p-font">Once you back an item, you have 10 days to cancel, but if the campaign doesn't reach its funding goal before the campaign ends, you won't be charged and the brand receives no funds. When you back a crowdfunding campaign, you are assuming some risk that the product may not be delivered on time, or be slightly different than described (they may be prototypes after all). Beeline Company only partners with reputable brands and will 'go to bat' for you if any quality issues arise.</p>

    <h5 class="subh-font">Pre-order Products:</h5><p class="p-font"> Once a campaign ends but before a product is generally available, you can still secure your place for an early production unit by placing a pre-order. Most products available for pre-order originate from successful crowdfunding campaigns on Beeline Company. If you change your mind before your pre-order product is shipped, you may cancel it and recieve a voucher for your purchase price. Since you can cancel your pre-order, you aren’t assuming any risk regarding the delivery of the product you would like to buy.</p> -->

  </div>
  <div class="modal-footer centerize">
    <button class="flatbtn" id="FAQbtn-close" style="text-decoration: none;" data-dismiss="modal" aria-hidden="true">All good?</button>
        <a href="/contact" style="text-decoration: none;"><button class="flatbtn" id="FAQbtn" >More Questions? Email us.</button></a>
    </table>
  </div>
</div>


<!-- # BOX
# <div class="container-fluid">
# 	<div class="row-fluid">
# 		<div class="span12" >
# 			<div id="brand-profile">
# 				<h3><span>Meet the Maker:<space> <%= @product.brandname.html_safe %></span></h3>
# 				<div><p>Topo began well before it began, in discussions, sharing ideas, and just the desire to have quality products that were in our heads rather than the ones we saw in stores. As everyone that’s made something knows, it takes a lot longer to make something than to decide to make it. So we took our time, made prototype after prototype, tested, re-tested, took vacations just as an excuse to test, and we finally had our first bag. At this point we’d gained some skills and the following bags came more quickly.</p></div>
# 				<img src="https://s3.amazonaws.com/beelineco/TopoDMock.png"/>
# 			</div>
# 		</div>
# 	</div>
# </div>

# Lines
# <div class="container-fluid" class="show-products">
# 	<div class="row-fluid">
# 		<div class="span12" id="brand-image">
# 			<img src="https://s3.amazonaws.com/beelineco/TopoDMock.png"/>
# 			<div id="brand-profile">
# 			<h4>Meet the Maker:<space> <%= @product.brandname.html_safe %></h4>
# 			<hr>
# 			Topo began well before it began, in discussions, sharing ideas, and just the desire to have quality products that were in our heads rather than the ones we saw in stores. As everyone that’s made something knows, it takes a lot longer to make something than to decide to make it. So we took our time, made prototype after prototype, tested, re-tested, took vacations just as an excuse to test, and we finally had our first bag. At this point we’d gained some skills and the following bags came more quickly. </div>
# 			</span>
# 		</div>
# 	</div>
# </div> -->

<!-- CELERY SCRIPTS -->
  <script type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script> 
  <script type="text/javascript" src="https://www.trycelery.com/js/progress.js"></script>

<script type="text/javascript">
$(document).ready(function() {
  var api_url = "https://api.trycelery.com";
  var getProduct = function(slug, callback) {
    $.getJSON(api_url + "/v1/shop/" + slug + "?callback=?", function(data) {
      callback(data.product);
    })
  }
  var getRevenue = function(slug, callback) {
    $.getJSON(api_url + "/v1/products/" + slug + "/revenue?callback=?", function(data) {
      callback(data.count);
    })
  }
  var getSold = function(slug, callback) {
     $.getJSON(api_url + "/v1/orders/count/" + slug + "?callback=?", function(data) {
      callback(data.count);
    })
  }
  var remainingTime = function(remaining) {
    var str = "";
    if(remaining > 0) {
      var days_until = Math.floor((remaining) / (24 * 3600));
      var hours_until = Math.floor((remaining) / (3600));
      var minutes_until = Math.floor((remaining) / (60));
      var seconds_until = Math.floor((remaining));
      if(days_until > 0) {
        var s = days_until > 1 ? " days": " day";
        str = days_until + s + " to go";
      } else if(hours_until > 0) {
        var s = hours_until > 1 ? " hours": " hour";
        str = hours_until + s + " to go";
      } else if(minutes_until > 0) {
        var s = minutes_until > 1 ? " minutes": " minute";
        str = minutes_until + s + " to go";
      } else if(seconds_until > 0) {
        var s = seconds_until > 1 ? " seconds": " second";
        str = seconds_until + s + " to go";
      }
    }
    return str;
  }

  var displayStuff = function(product) {
    $("#backers-needed").html(product.sold + " of " + product.min + " needed &bull; " + Math.floor(product.sold/product.min * 100) + "% funded");
    $("#remaining").html(remainingTime(product.time_remaining/1000));
  }

  var getAll = function() {
    var slug = "<%= @product.ecomm_url %>";
    getProduct(slug, function(product) {
      getSold(slug, function(sold) {
        getRevenue(slug, function(revenue) {
          product.sold = sold;
          product.revenue = revenue

          displayStuff(product);
        })
      })
    })
  }
  getAll();
})
</script>

</body>