<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @product.image %>
			<p>
			  <%= @product.description %>
			</p>
			
				<% if current_user == @product.user %>
					<p>
						Uploading user: <%= @product.user.name %>
					</p>
					<p>
						Created at: <%= @product.created_at %>
					</p>
						Updated at: <%= @product.updated_at %>
					</p>
					<p>
						Image file name: <%= @product.image_file_name %>
					</p>
					<%= link_to 'Edit', edit_product_path(@product) %> |
					<%= link_to 'Back', products_path %>
				<% end %>
			</p>
		</div>
	</div>
</div>


