<head>
  <!-- TUMBLR -->
  <script src="http://platform.tumblr.com/v1/share.js"></script>
  <!-- CAROUSEL -->
  <script type="text/javascript">
        $(function(){
          $('.carousel').carousel();
        });
      </script>
</head>

<body>

<!-- Ideal counter:file://localhost/Users/alexblunk/Downloads/rendro-countdown-c6e6daa/examples/index.html -->
  

<div class="row-fluid" class="show-products">
  <div class="span12">
    <div id="myCarousel"class="carousel slide" data-pause="remove"> 
      <ol class="carousel-indicators" id="show-image-selector" style="display:none;">
        <% @product.images.each_index do |i| %>
          <li data-target="#myCarousel" data-slide-to=<%= i %> class="<%= 'active' if i == 0 %>"></li>
        <% end %>
      </ol>

      <div class="carousel-inner stretch">
      <% @product.images.each_with_index do |image, i| %>
          <div class="item <%= 'active' if i == 0 %>">
            <%= image_tag(image.image(:large)) %>
            <div class="carousel-caption">
              <h3 id="product_title"><%= @product.productname %></h3>
              <h5 id="brand_name"><%= @product.brandname %></h5>
            </div>
          </div>
      <% end %>
      </div>
    </div>

      <div id="show-admin" class="subh-font">
        <% if current_user == @product.user%>
          <h4>
            <%= link_to 'Edit', edit_product_path(@product) %> //
            <%= link_to 'Back', products_path %>
          </h4>
          <p>
            Uploading user: <%= @product.user.name %>
          </p>
          <p>
            Created at: <%= @product.created_at %>
          </p>
            Updated at: <%= @product.updated_at %>
          </p>
          <p>
            Image file name: <%= @product.images.first.image_file_name %>
          </p>
          <p>
            Celery Button Code: <%= @product.ecomm_url %>
          </p>

        <% end %>
      </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#myCarousel').mouseenter(function() {
      $('#show-image-selector').show();
    });
    $('#myCarousel').mouseleave(function(){
      $('#show-image-selector').hide();
    });
  });
</script>


<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
        <div class="span5 well">
          <div class="row-fluid">
            	<div class="span6">
            		<div class="centerize">
                  

                  <button class="flatbtn" id="backbtn" data-celery="<%=@product.ecomm_url%>">BACK IT</button>


                  <!-- Button to trigger modal -->
                  <hr style="margin-bottom:5px;">
                  <p>
                    <a href="#FAQModal" id="FAQ" class="h-font" data-toggle="modal">How does this work?</a>
                  </p> 
                <hr style="margin-top:-8px;">
                <button href="#DetailModal" id="details" class="flatbtn" data-toggle="modal">PRODUCT DETAILS</button>
              </div>
                
                   
  			     </div>
  			       <br>
              <div class="span6 campaign-details">

              		<h2 style="margin-top:-10px;"id="price"><span style="font-size:.55em;">$</span><%=@product.price %></h2>

                  <div id="campaign-details">


                  <!-- MIN, MAX BACKERS -->

                    <h5 id="backers-needed" class="subh-font">Loading...</h5>


                    <!-- TIME -->
                    <h5 id="remaining" class="subh-font">Loading...</h5>
                    <hr style="margin:0">
                    <h5 class="subh-font" style="padding:5px; background-color:#505050; color:white; pointer-events:none; border-radius:3px;">Estimated Delivery: <span><%=@product.deliverdate %></span></h5>
                       
                    <h5 class="subh-font" ></h5>
                    

                  </div>
              		
  			       </div>
            </div>
        </div>
        <div class="span7">
          <div class="row-fluid">
              <div class="span5">   
                      <h3 style="pointer-events:none; margin-left:auto; margin-right:auto; font-size:1.55em; " class="h-font centerize" >SPREAD THE GOOD WORD </h3>
              </div>
              <div class="span7 centerize">
                   <!-- FACEBOOK -->
                        <a href="http://www.facebook.com/share.php?u=<%=request.url%>&title=<%=@product.productname%>by<%=@product.brandname%> hosted by Beeline Co." target="blank" ><img class="social-show" src="https://s3.amazonaws.com/beelineco/Social+Images/facebook.png" width="30" ></a>
                      
                      <!-- TWITTER -->
                        <a href="http://twitter.com/home?status=<%=@product.productname%> from <%=@product.brandname%> hosted by @thebeeline_co+<%=request.url%>" target="blank" ><img class="social-show" src="https://s3.amazonaws.com/beelineco/Social+Images/twitter.png" width="30" ></a>

                      <!-- GOOGLE PLUS -->
                      <a href="https://plus.google.com/share?url=<%=request.url%>" target="blank" class="social-show"style="text-decoration:none; color:#dd4a38; font-size:3.5em; vertical-align: 2px; ">+</a>
                     
                      <!-- PINTEREST -->
                      
                        <a href="http://pinterest.com/pin/create/bookmarklet/?media=<%=@product.images.first.image(:small)%>&url=<%=request.url%>&is_video=false&description=<%=@product.productname%> from <%=@product.brandname%> -- hosted by Beeline Co." target="blank" ><img class="social-show" src="https://s3.amazonaws.com/beelineco/Social+Images/pinterest.png" width="30" ></a>
                       
                      <!-- STUMBLEUPON -->
                       
                        <a href="http://www.stumbleupon.com/submit?url=<%=request.url%>&title=<%=@product.productname%> from <%=@product.brandname%> hosted by Beeline Co.+<%=request.url%>" target="blank"><img class="social-show" src="https://s3.amazonaws.com/beelineco/Social+Images/stumbleupon.png" width="30" ></a>

                   
                  </div>
                </div>
                <hr style="margin-top:0">
            	<blockquote id="vendor-quote" class="pull-right">
            <p><%= @product.description.html_safe %></p>
            <small><%=@product.founders%> of <%=@product.brandname%></small>
          </blockquote>
          <hr>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span5">
      <div class="centerize">
        <!-- <span id="campaign-status" class="label label-default"><%=@product.productstatus%></span> class="celery-progress-bar"  data-celery-words=" funded" data-celery-color="#FFCC00" data-celery-goal-text="Funded!" -->
        <div data-celery="<%=@product.ecomm_url%>" data-celery-type="bar"></div>
        <hr>
      </div>
      <h4 class="subh-font updates" style="margin:10px 0 -5px -15px;">Campaign Updates:</h4>
          <div class="p-font"><p>FIX ME</p></div>
          <hr>
          
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            
            <h4 class="subh-font" style="margin-left:-15px;">More <img src="https://s3.amazonaws.com/beelineco/BeelineLogo_v1.png" style="width:80px; margin:0 -10px 0 -7px;"/> Exclusives:</h4>
            <%= render @products %>
            <div class="pagination">
            <%= paginate @products %>
            </div>
          </div>
        </div>
      </div>
		</div>



		<div class="span7">
			 <h3 id="profile-title" class="h-font">Meet the Maker:<space> <%= @product.brandname.html_safe %></h3>
      <h5 id="location" class="subh-font" ><%= @product.location%></h5> 
      <div class="p-font" style="margin-bottom:100px;">

        <img id="brand-image" src="<%= @product.brandpic %>"/>

          <!-- FACEBOOK -->
          <% if @product.facebookbrand %>
          <a href="http://facebook.com/<%=@product.facebookbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/facebook_square_black.png"/></a>
          <%end%>
          <!-- TWITTER -->
          <% if @product.twitterbrand %>
          <a href="http://twitter.com/<%=@product.twitterbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/twitter_square_black.png"/></a>
          <%end%>
          <!-- INSTAGRAM -->
          <% if @product.instagrambrand %>
          <a href="http://instagram.com/<%=@product.instagrambrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/instagram_square_black.png"/></a><%end%>
          <!-- TUMBLER -->
          <% if @product.tumblrbrand %>
          <a href="http://<%=@product.tumblrbrand.html_safe%>.tumblr.com/" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/tumblr_square_black.png"/></a><%end%>


        <% if @product.profile %>
          <%=@product.profile.html_safe%>
        <% end %>
    
      </div>
		</div>
	</div>
    <div class="span12 centerize" style="width:90%">

      <!-- <div class="fb-comments" data-href="<%=request.url%>" data-width="400" data-num-posts="2"></div> -->
       
    
    </div>
  </div>
</div>

<!-- DETAIL MODAL -->
<div id="DetailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel" class="h-font"><img src="https://s3.amazonaws.com/beelineco/BeelineLogo_v1.png" style="width:100px;"/>  <%= @product.productname %> Details</h3>
  </div>

    <div class="modal-body p-font">
    <% if @product.details %>
      <%=@product.details.html_safe%>
    <% end %>
    

    </div>
    <div class="modal-footer centerize">
    <button class="flatbtn" id="Detailsbtn-close" style="text-decoration: none;" data-dismiss="modal" aria-hidden="true">CLOSE</button>
        
    </table>
  </div>
</div>

<!-- FAQ Modal -->
<div id="FAQModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h5 id="myModalLabel" class="h-font"><img src="https://s3.amazonaws.com/beelineco/BeelineLogo_v1.png" style="width:100px;"/> Frequently Asked Questions</h5>
  </div>
  <div class="modal-body" style="height:90%;">
    <h3 class="h-font" style="margin-top:-15px;">What is going on here?</h3>
    <hr style="margin-top:-5px;">
 
          <p class="p-font">In short: We partner with the best brands in the land, then create campaigns for items they want to test -- you 'back' the items you're interested in. 
          <br><br>
          Once the number of items backed reaches the campaign goal, the item is successfully funded and the brand starts production. 
          <br><br>
          We ship to you when its ready to go.</p>
    <hr style="margin-top:-5px;">

    <h4 class="subh-font">How can I support these brands/products?</h4>
    <ol>
      <li class="p-font"><h3 class="subh-font">Back it:</h3> A commitment to financially back the production of this item when enough people have shown interest. Your card only gets charged after a product hits the goal of a number of backers. <hr style="margin-bottom:5px;">All backers recieve <i>Free Priority Shipping</i> after their goods are ready.<hr style="margin-top:5px;"></li>
      <li class="p-font"><h3 class="subh-font">Share it:</h3> Broadcast out to people who you think would appreciate this brand or product. Products only get made with enough support, so spread the good word!</li>
      <li class="p-font"><h3 class="subh-font">Preorder:</h3>After a product reaches its funding goal, you are still able to preorder it for the remainder of its time on the site. <hr style="margin-bottom:5px;">No free shipping - early bird gets the worm!<hr style="margin-top:5px;"></li>
    </ol>
    <br>

        <h4 class="subh-font">When does my card get charged?</h4>
        <hr style="margin-top:-5px;">
        <p class="p-font">When you hit “Back It”, we will collect your shipping and billing information - but will only validate your card, not charge it. When the item reaches its funding goal, your card will be securely charged. <br>**If an item expires without being funded, you will not be charged.</p>
    <br>

        <h4 class="subh-font">Is my billing information safe?</h4>
        <hr style="margin-top:-5px;">
        <p class="p-font">Of course. All payments are processed using 256-bit SSL encryption and our ecommerce platform is built on the premier payments platform, <a href="https://www.stripe.com/" target="blank">Stripe</a>. Stripe is certified to <a href="http://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe" target="blank">PCI Service Provider Level 1</a>. This is the most stringent level of certification available.</p>
    <br>
        <h4 class="subh-font">Can I change my order or cancel it?</h4>
        <hr style="margin-top:-5px;">
        <p class="p-font">If a campaign hasn't been funded & shipped yet - you can change item options, shipping address, or cancel your order by following the "Click here to manage your order." link in your order email. If a product has been funded or shipped, you will need to get in <a href="/contact">touch with us directly.</a></p>
    <br>
    <h4 class="subh-font">When will my items be shipped?</h4>
    <hr style="margin-top:-5px;">
    <p class="p-font">The expected shipping date is listed on each item’s product page.</p>
    <br>
        <h4 class="subh-font">Can an item be funded more than 100%?</h4>
        <hr style="margin-top:-5px;">
        <p class="p-font">Yes, this is what we call a 'preorder'. You won't recieve free shipping, but is still the same exclusive item.</p>
    <br>

    <h4 class="subh-font">Can I exchange or return an item after I receive it?</h4>
    <hr style="margin-top:-5px;">
    <p class="p-font">Due to the nature of this type of funding model, we will only accept returns if the product is deemed defective. We will make it right regardless. </p>

    <br>


    <h4 class="subh-font">Who are the brands you feature? Why should I trust them?</h4>
    <hr style="margin-top:-5px;">
    <p class="p-font">We built relationships with top-notch brands from all over the globe and will never feature a campaign that we wouldn't back ourselves. Most of the brands we will feature build their product in the U.S.A., but will feature any brand that is built with integrity - regardless of its origin.</p>
    <p class="p-font">Unlike traditional crowdfunding models, we only feature an established brand's products - which inherently takes alot of the risk out of backing a campaign. This is because established brands know their production capabilities and understand how to run a successful business.</p>
    <br>

  </div>
  <div class="modal-footer centerize">
    <button class="flatbtn" id="FAQbtn-close" style="text-decoration: none;" data-dismiss="modal" aria-hidden="true">All good?</button>
        <a href="/contact" style="text-decoration: none;"><button class="flatbtn" id="FAQbtn" >More Questions? Email us.</button></a>
    </table>
  </div>
</div>


<!-- CELERY SCRIPTS -->
  <script type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script> 

<script type="text/javascript">
$(document).ready(function() {
  var api_url = "https://api.trycelery.com";
  var getProduct = function(slug, callback) {
    $.getJSON(api_url + "/v1/shop/" + slug + "?callback=?", function(data) {
      callback(data.product);
    })
  }
  
  var remainingTime = function(remaining) {
    var str = "";
    if(remaining > 0) {
      var days_until = Math.floor((remaining) / (24 * 3600));
      var hours_until = Math.floor((remaining) / (3600));
      var minutes_until = Math.floor((remaining) / (60));
      var seconds_until = Math.floor((remaining));
      if(days_until > 0) {
        var s = days_until > 1 ? " days": " day";
        str = days_until + s + " to go";
      } else if(hours_until > 0) {
        var s = hours_until > 1 ? " hours": " hour";
        str = hours_until + s + " to go";
      } else if(minutes_until > 0) {
        var s = minutes_until > 1 ? " minutes": " minute";
        str = minutes_until + s + " to go";
      } else if(seconds_until > 0) {
        var s = seconds_until > 1 ? " seconds": " second";
        str = seconds_until + s + " to go";
      }
    }
    return str;
  }

  var displayStuff = function(product) {
    var campaign = product.campaign;
    $("#backers-needed").html(campaign.sold + " of " + campaign.sold_goal + " needed &bull; " + campaign.progress + "% funded");
    $("#remaining").html(remainingTime((campaign.expires - new Date().getTime())/1000));
  }

  var getAll = function() {
    var slug = "<%= @product.ecomm_url %>";
    getProduct(slug, function(product) {
        displayStuff(product);
    })
  }
  getAll();
})
</script>

</body>