<!-- PRODUCT PICTURE PANE -->
    <div class="col-md-5">
      <div class="img-responsive" id="product-images" style="background-image:url(<%= image_path('product2.jpg') %>)">
        
          <%= image_tag("product_thumb1.jpg", class: "p-thumbnails") %>
          
          <%= image_tag("product2.jpg", class: "p-thumbnails-selected") %>
          
          <%= image_tag("product_thumb1.jpg", class: "p-thumbnails") %>

          <%= image_tag("product2.jpg", class: "p-thumbnails") %>

      </div>
    </div>

    <div class="col-md-5" id="details">

<!-- DETAILS START -->        
      <div class="row">
        <div class="col-md-12 well">
<!-- SOCIAL HEADER-->
          <div class="row">
            <div class="col-md-12">   
                  <h5 id="social-title" style="margin-top:-5px;" class="centerize" >SPREAD THE GOOD WORD</h5>
              </div>
            </div>

          <div class="row">
              <div class="col-md-12 centerize">
                      <!-- FACEBOOK -->
                        <a href ="#" target="blank">
                          <%= image_tag("facebook.png", class: "social-show", width: "20") %>
                        </a>
                      
                      <!-- TWITTER -->
                        <a href="#" target="blank">
                          <%= image_tag("twitter.png", class: "social-show", width: "20") %>
                        </a>

                      <!-- GOOGLE PLUS -->
                      <a href="#" target="blank">
                        <%= image_tag("googleplus.png", class: "social-show", width: "20") %>
                      </a>
                     
                      <!-- PINTEREST -->
                      <a href="#" target="blank">
                        <%= image_tag("pinterest.png", class: "social-show", width: "20") %>
                      </a>
                       
                      <!-- STUMBLEUPON -->
                      <a href="#" target="blank">
                        <%= image_tag("stumbleupon.png", class: "social-show", width: "20") %>
                      </a>
                </div>
          </div>
          <hr class="black-hr">
<!-- PRICING & CAMPAIGN DETAILS -->
          <div class="row">
              <div class="col-md-6">
                
                <a href="#"><div id="backbtn" class="flatbtn centerize">BACK IT</div></a>


                <hr class="black-hr" style="margin-bottom:5px">

                <a href="#FAQModal" data-toggle="modal"><h3 id="FAQLink" class="centerize">HOW DOES THIS WORK?</h3></a>

                <hr class="black-hr" style="margin-top:5px">

            </div>
            <div class="col-md-6 centerize">
              <h5>$<span id="price">125</span></h5>
              <p class="flatbtn" id="delivery">Estimated Delivery: 4/7/2013</p>
            </div>
          </div>

<!-- CELERY DETAILS -->
          <div class="row">
            <div class="col-md-12">
              <!-- <img src="img/bar.jpg" id="bar"width="100%"/> -->
              <div data-celery="backpack" data-celery-type="bar" style="background-color:transparent;"></div>
            </div>
          </div>
        </div>
      </div>

<!-- DESCRIPTION -->
      <div class="row">
        <div class="col-md-12">
          <h3 style="margin-top:-10px;"><%=@product.name.html_safe%></h3>
          <h5><%=@product.brand.name.html_safe%></h5>
          <hr class="black-hr">
          <div class="row">
            <div class="col-md-6">
              <h5>Materials:</h5>
              <ul>
                <li>1000 denier VX Cordura ripstop shell</li> 
                <li>Backed with a PET waterproof membrane</li> 
                <li>Lightweight VX70 ripstop liner</li> 
              </ul>

            </div>
            <div class="col-md-6">
              <h5>Features:</h5>
              <ul>
                <li>Arkiv&reg; closure system</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

        <hr class="black-hr">

<!-- PROFILE -->
        <div class="row">
          <div class="col-md-12">
          <h3 id="profile-title" >MEET THE MAKER:<space> <%=@product.brand.name.html_safe%> </h3>
            <h5 id="location" class="subh-font" ><%=@product.brand.location.html_safe%></h5> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <img id="brand-image" src="http://missionworkshop.com/images/home-slides/_single/san-francisco-store.jpg" width="100%"/>

          <%# @product.brandpic %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <!-- FACEBOOK -->
                  <a href="http://facebook.com/<%#@product.facebookbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/facebook_square_black.png"/></a>
              <!-- TWITTER -->
                  <a href="http://twitter.com/<%#@product.twitterbrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/twitter_square_black.png"/></a>

                <!-- INSTAGRAM -->
                  <a href="http://instagram.com/<%#@product.instagrambrand.html_safe%>" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/instagram_square_black.png"/></a>
                <!-- TUMBLER -->
                  <a href="http://<%#@product.tumblrbrand.html_safe%>.tumblr.com/" target="blank"><img class="brandsocial" src="https://s3.amazonaws.com/beelineco/brand+social+links/tumblr_square_black.png"/></a>

                <p><%=@product.brand.profile.html_safe%></p>

                <!--<%#@product.profile.html_safe%>-->
          </div>
        </div>
        <hr class="black-hr" style="margin-bottom:5px">
        <div class="row">
<!-- MORE PRODUCTS GRID -->
          <h3 class="centerize" style="padding-bottom:10px;">Keep  exploring</h3>
          <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail" id="mini-grid">
              <%= image_tag("product_thumb1.jpg") %>
            </a>
          </div>
          <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail" id="mini-grid">
              <%= image_tag("product_thumb3.jpg") %>
            </a>
          </div>
          <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail" id="mini-grid">
              <%= image_tag("product_thumb2.jpg") %>
            </a>
          </div>
          <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail" id="mini-grid">
              <%= image_tag("product_thumb1.jpg") %>
            </a>
          </div>
          <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail" id="mini-grid">
              <%= image_tag("product_thumb4.jpg") %>
            </a>
          </div>
          <div class="col-md-4 col-xs-6">
            <a href="#" class="thumbnail" id="mini-grid">
              <%= image_tag("product_thumb5.jpg") %>
            </a>
          </div>
        </div>
      </div>
    </div>
  <!-- END OF DETAILS -->