<!-- <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
			<div class="nav pull-left">
				<ul>
					<li><%= link_to 'ABOUT',  about_path %></li>
					<li><%= link_to 'CONTACT',  "#" %></li>
				</ul>
			</div>	
		</div>
	</div>
</div>
 -->
<footer>
	<div class="navbar navbar-inverse navbar-fixed-bottom" style="position:relative;">
		<li style="list-style:none; color:#505050; margin:0 0 -4px 10px;">&copy; 2013 Beeline Co.</li>
	    <div class="navbar-inner">
	        <div class="container">
                <div class="nav nav-pull left">
                    <ul class="nav">
                    	<li><%= link_to 'ABOUT',  about_path %></li>
                    	<li><%= link_to 'LEGAL',  legal_path %></li>
						<li><%= link_to 'CONTACT',  contact_path %></li>
                    </ul>
                    <!-- Beeline Co. 2013&copy; -->
                </div>
	        </div>
	    </div>
	</div>
</footer>