<div class="col-md-2">
  <div class="row">
    <div class="col-md-12">
      <div id="header">
        <div class="logo centerize">
          <a href="/home"><%= image_tag("FarallonCo-LongForm-Beta.png", width: "150") %></a>
        </div>
          <hr style="margin:5px 0 -5px 0;">
        <!-- <ul class="social centerize">
          <li><a style="margin-right:18px" href="http://facebook.com/farallonco" target="blank"><%#= image_tag("facebook-w.png", width: "20") %></a>
          <a style="margin-right:18px" href="http://twitter.com/farallonco" target="blank"><%#= image_tag("twitter-w.png", width: "20") %></a>
          <a style="margin-right:18px" href="http://instagram.com/farallonco" target="blank"><%#= image_tag("instagram.png", width: "18") %></a></li>
        </ul>
          <hr style="margin:-5px 0 0 0;"> -->
        <div class="centerize">
          <% if user_signed_in? %>
            <a href="/users/edit" id="h-account">MY ACCOUNT</a>
            <span id="line"></span>
            &nbsp;<%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %>
          <% else %>
            &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'JOIN US',  new_user_registration_path %>
            <span id="line"></span>
            &nbsp;<%= link_to 'SIGN IN',  new_user_session_path %>
          <% end %>
          
        </div>
         
        <% if current_user.try(:admin?) %>
          <div style="background-color:rgba(255, 204, 0,.4); color:white;text-align:center;margin-top:-10px;">
            <h6 style="padding-top:5px;font-size:.75em !important;">Admin Panel</h6>
            <hr style="margin-top:-10px;margin-bottom: -10px;">
            <div style="margin-left:10px;">
              <a href="/brands">BRANDS</a>
              <%= link_to "ADD+", new_brand_path %>
              <hr style="margin-top:-12px;margin-bottom:-12px;">
              <a href="/products">PRODUCTS</a>
              <%#= link_to "ADD+" %>
              <hr style="margin-top:-12px;margin-bottom:-12px;">
              <a href="/admin/users" >USERS</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-right:5%">
    <div class="col-md-12">
      <% if current_user.try(:admin?) %>
        <div class="flash-alert-header" id="admin-flash">
          <%= render partial: "shared/flash_messages"%>
        </div>
      <% else %>
        <div class="flash-alert-header">
          <%= render partial: "shared/flash_messages"%>
        </div>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-xs-5">
      <a data-toggle="modal" href="#contact-modal">
        <div id="emailus">
          <h5>&nbsp;Contact Us</h5>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-5">
      <a data-toggle="modal" href="#submit-modal" >
        <div id="submit">
          <h5>Have an idea?</h5>
        </div>
      </a>
    </div>
  </div>
</div>
