<!-- HEADER STARTS -->
      <div class="col-md-2" >
        <div class="row">
          <div class="col-md-12">
            <div id="header">
              <div class="logo centerize">
                <a href="/home"><%= image_tag("FarallonCo-LongForm-T.png", width: "150") %></a>
              </div>
              <hr style="margin:0 0 -10px 0;">
              <ul class="social centerize">
                <li><a style="margin-right:18px" href="http://facebook.com/farallonco" target="blank"><%= image_tag("facebook-w.png", width: "20") %></a>
                <a style="margin-right:18px" href="http://twitter.com/farallonco" target="blank"><%= image_tag("twitter-w.png", width: "20") %></a>
                <a style="margin-right:18px" href="http://instagram.com/farallonco" target="blank"><%= image_tag("instagram.png", width: "18") %></a></li>
              </ul>
              <hr style="margin:-5px 0 0 0;">
              <div class="centerize">
                <% if user_signed_in? %>
                  <a href="/users/edit" style="font-size:.75em;">&nbsp;&nbsp;MY ACCOUNT</a>
                  <span id="line"></span>
                  &nbsp;<%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %>
                <% else %>
                  &nbsp;&nbsp;&nbsp;<%= link_to 'JOIN US',  new_user_registration_path %>
                  <span id="line"></span>
                  &nbsp;<%= link_to 'SIGN IN',  new_user_session_path %>

                  <!-- <a data-toggle="modal" href="#joinus-modal">&nbsp;&nbsp;&nbsp;JOIN US</a>
                  <span id="line"></span>
                  <a data-toggle="modal" href="#signin-modal">&nbsp;SIGN IN</a> -->
                <% end %>
                
              </div>
               
                <% if current_user.try(:admin?) %>
                  <div style="background-color:rgba(255, 204, 0,.4);; color:white;text-align:center;margin-top:-10px">
                    <h5 style="padding-top:5px"> Admin Controls</h5>
                    <hr style="margin-top:-10px;margin-bottom: -10px;">
                    <div style="margin-left:10px;">
                      <a href="/brands">Brands</a>
                      <%= link_to "ADD+", new_brand_path %>
                      <hr style="margin-top:-12px;margin-bottom:-12px;">
                      <a href="/products">Products</a>
                      <%#= link_to "ADD+" %>
                      <hr style="margin-top:-12px;margin-bottom:-12px;">
                      <a href="/admin/users">Users</a>
                    </div>
                  </div>
                <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-5">
            <button type="button" id="emailus">
              <a href="mailto:support@farallon.co?Subject=Contact%20Form" target="_top"><span class="glyphicon glyphicon-send"></span>&nbsp;Email us.</a>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-5">
            <a data-toggle="modal" href="#submit-modal" >
              <div id="submit">
                <h5>Have an idea?</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
<!-- HEADER ENDS -->



