<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-plus icon-white"></span>
            </a>
                <div class="nav-collapse">
                    <ul class="nav" >
                            <li><a style="margin=-5px;" href="/"><img src="https://s3.amazonaws.com/beelineco/beeliner_outline_logo.png" width="80"></a> </li>
                            <li><a href="http://facebook.com/beelineco" target="_blank"><img src="https://s3.amazonaws.com/beelineco/facebook.png" width="20px"></a> </li>
                             <li><a href="http://twitter.com/thebeeline_co" target="_blank"><img src="https://s3.amazonaws.com/beelineco/twitter.png"width="20px"></a> </li>
                             <li><a href="http://instagram.com/beelineco" target="_blank"><img src="https://s3.amazonaws.com/beelineco/Instagram.png"width="18px"></a> </li>
                         <% if current_user.try(:admin?) %>
                            <li><%= link_to "ADD PRODUCT +", new_product_path %></li>
                        <% end %>
                    </ul>
                    <ul class="nav pull-right">
                        <% if user_signed_in? %>
                            <li><%= link_to "EDIT PROFILE", edit_user_registration_path %></li>
                            <li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
                        <% else %>
                            <li><%= link_to 'JOIN US',  new_user_registration_path %></li>
                            <li><%= link_to 'SIGN IN',  new_user_session_path %></li>
                        <% end %>
                    </ul>
                </div>
        </div>
    </div>
</div>





<!-- <div class="bl_header">
        <table>
            <tr>
                <td>
                 <a id="beeline_logo" href="/"><img src="https://s3.amazonaws.com/beelineco/BeelineLogo_v1.png"/></a>
                </td>
                <td ="add" class="navigation-header">
                    <% if current_user.try(:admin?) %>
                            <%= link_to "ADD +", new_product_path %>
                    <% end %>
                </td>
                <% if user_signed_in? %>
                    <td id="edit" class="navigation-header">
                        <%= link_to "EDIT PROFILE", edit_user_registration_path %>
                    </td>
                    <td id="logout" class="navigation-header">
                        <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %>
                    </td>
                <% else %>
                    <td id="signup" class="navigation-header">
                        <%= link_to 'SIGN UP',  new_user_registration_path %>
                    </td>
                    <td id="login" class="navigation-header">
                        <%= link_to 'LOG IN',  new_user_session_path %>
                    </td>
                <% end %>
                </td>
            </tr>
        </table>         
   <div class="bl_header-bgd"> </div>
</div> -->