<!DOCTYPE html>
<html>
	<head>
		  <title>Beeline Co.</title>
		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>

	  	<!-- HTML EDITOR -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-wysihtml5.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
		<script src="js/wysihtml5-0.3.0.js"></script>
		<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-wysihtml5.js"></script>

	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<!-- FONTS http://html.adobe.com/edge/webfonts/-->
		<script src="http://use.edgefonts.net/maven-pro:n4,n5,n7,n9.js"></script>
		<script src="http://use.edgefonts.net/questrial.js"></script>
		<script src="http://use.edgefonts.net/inconsolata.js"></script>
		<script src="http://use.edgefonts.net/bebas-neue:n4.js"></script>
		<script src="http://use.edgefonts.net/montserrat:n4.js"></script>
		<script src="http://use.edgefonts.net/duru-sans:n4.js"></script>
		<script src="http://use.edgefonts.net/convergence:n4.js"></script>
		<script src="http://use.edgefonts.net/rock-salt:n4.js"></script>
		<script src="http://use.edgefonts.net/m-1c:n2,n3,n4,n5,n7,n8,n9.js"></script>
		<script src="http://use.edgefonts.net/cabin-sketch:n4,n7.js"></script>

		<!-- Extra Light, Light, Regular, Medium, Bold, Heavy, Black -->
	</head>

	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>

</html>