<!DOCTYPE html>
<html>

  <head>
    <title>Farallon Co.</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://s3.amazonaws.com/beelineco/FarallonCo-ShortForm.jpg">

    <!-- FONTS http://html.adobe.com/edge/webfonts/-->
    <script src="//use.edgefonts.net/maven-pro:n4,n5,n7;m-1c:n2,n3,n4,n5;damion:n4.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        
        <%= render 'layouts/header' %>
        
        <%= yield %>

      </div>
    </div>
    <div id="footer-container"></div>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag "application" %>

    <%= yield(:scripts) %>

    <!-- Intercom.io Scripts -->
    <script id="IntercomSettingsScriptTag">
      window.intercomSettings = {
        // TODO: The current logged in user's email address.
        // email: <%#= current_user.email %>,
        // TODO: The current logged in user's sign-up date as a Unix timestamp.
        // created_at: <%#= current_user.created_at.to_i %>,
        app_id: "2488cea808824efb1bcc3b5a9725fa09f3bf0077"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://static.intercomcdn.com/intercom.v1.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}};})()</script>

<!-- Submit Modal -->
  <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog" aria-labelledby="Submit" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="font-size:3em;margin-top:-10px;" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">We're listening...</h3>
      </div>
      <div class="modal-body">
        <p>This is an open inbox for you to submit:</p>
         <ul><li>product concepts</li> <li>multi-brand collaboration ideas</li> <li>your favorite brands</li> <li>advice</li></ul> <p>We will hustle to put your submissions to work -- if they do -- we'll take care of you (read: worthwhile credit incentive)</p>
        <p style="font-size:.7em">(We won't publish anything without your consent)</p>
        <br>

        <a href="mailto:ideas@farallon.co?Subject=I%20have%20an%20idea...">
          <div type="button" class="flatbtn centerize" id="submit-2">Submit Idea</div>
        </a>
        <br>
        <p class="centerize"><i>ideas@farallon.co</i></p>
      </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<!-- Contact Modal -->
  <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="Submit" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" style="font-size:3em;margin-top:-10px;" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Help us, help you.</h3>
      </div>
      <div class="modal-body" >

        <h6>Questions, feedback, or viral vids:</h6>
          <a href="mailto:support@farallon.co?Subject=Support%20Request"><p>support@farallon.co</p></a>
          <hr>
        <h6>Press inquiries:</h6>
          <a href="mailto:press@farallon.co?Subject=Press%20Inquiry"><p>press@farallon.co</p></a>
          <hr>
        <h6>Mailing Address:</h6>
        <p>Farallon Co.<br>
        407 Lombard St.<br>
        San Francisco, CA 94133</p>
        </a>
      </div>
    </div>
    </div>
  </div>



  </body>

  <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44486699-1', 'farallon.co');
      ga('send', 'pageview');

    </script>

</html>