<!DOCTYPE html>
<html>
<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		  <title>Beeline Co.</title>
		  <%= stylesheet_link_tag    "application", :media => "all" %>
		  <%= javascript_include_tag "application" %>
		  <%= csrf_meta_tags %>

	  	<!-- HTML EDITOR -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-wysihtml5.css"></link>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"></link>
		<script src="js/wysihtml5-0.3.0.js"></script>
		<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-wysihtml5.js"></script>

	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<!-- FONTS http://html.adobe.com/edge/webfonts/-->
		<script src="http://use.edgefonts.net/maven-pro:n4,n5,n7,n9.js"></script>
		<script src="http://use.edgefonts.net/questrial.js"></script>
		<script src="http://use.edgefonts.net/inconsolata.js"></script>
		<script src="http://use.edgefonts.net/bebas-neue:n4.js"></script>
		<script src="http://use.edgefonts.net/montserrat:n4.js"></script>
		<script src="http://use.edgefonts.net/duru-sans:n4.js"></script>
		<script src="http://use.edgefonts.net/convergence:n4.js"></script>
		<script src="http://use.edgefonts.net/rock-salt:n4.js"></script>
		<script src="http://use.edgefonts.net/m-1c:n2,n3,n4,n5,n7,n8,n9.js"></script>
		<script src="http://use.edgefonts.net/cabin-sketch:n4,n7.js"></script>
		<script src="http://use.edgefonts.net/exo:n1,i1,n2,i2,n3,i3,n4,i4,n5,i5,n6,i6,n7,i7,n8,i8,n9,i9.js"></script>
		<script src="http://use.edgefonts.net/amatic-sc:n4,n7.js"></script> <!-- sketchy skinny -->
		<script src="http://use.edgefonts.net/glegoo:n4.js"></script>
		<script src="http://use.edgefonts.net/share-regular:n4,i4,n7,i7.js"></script>

		<!-- Extra Light, Light, Regular, Medium, Bold, Heavy, Black -->
	</head>
<body>
	
<header>
	<%= render 'layouts/header' %>
</header>

<%= yield %>

	<!-- TUMBLR -->
	<script src="http://platform.tumblr.com/v1/share.js"></script>
	<!-- FACEBOOK -->
	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
</body>

<footer>
	<%= render 'layouts/footer' %>
</footer>
</html>